##
#  Additional Bash Functions
##

# Add to end of path
append_path() {
  [ -d $1 ] && PATH="$PATH:$1"
}
# Add to beginning of path
prepend_path() {
  [ -d $1 ] && PATH="$1:$PATH"
}

##
# Git / SCM Related
##
git-config-repo-github() {
	git config user.name "ChrisCarini"
	git config user.email "6374067+ChrisCarini@users.noreply.github.com"
#	git config commit.gpgsign true
#	git config user.signingkey 35B77157B719125C
	git config -l | cat
}

git-sync-fork() {
  git fetch upstream
  git checkout master
  git merge upstream/master
}

##
# Misc
##

smiley() {
    if [ "$?" -eq 0 ];
    then
      echo ":)";
    else
      echo ":(";
    fi
}

# Got from SO -> https://serverfault.com/a/42382
is_host_up() {
	echo "Pinging $1 until host is up..."
	ping_cancelled=false    # Keep track of whether the loop was cancelled, or succeeded
	until ping -c1 "$1" &>/dev/null; do :; done &    # The "&" backgrounds it
	trap "kill $!; ping_cancelled =true" SIGINT
	wait $!          # Wait for the loop to exit, one way or another
	trap - SIGINT    # Remove the trap, now we're done with it
	echo "Done pinging, cancelled=$ping_cancelled" 
}

# Got from SO -> https://stackoverflow.com/a/29655125
perf() {
  curl -o /dev/null -s -w "%{time_connect} + %{time_starttransfer} = %{time_total}\n" "$1"
}

genpasswd() {
   local l=$1
   [ "$l" == "" ] && l=16
   tr -dc A-Za-z0-9_ < /dev/urandom | head -c ${l} | xargs
}

extract() {
  if [ -f $1 ] ; then
      case $1 in
          *.tar.bz2)   tar xvjf $1    ;;
          *.tar.gz)    tar xvzf $1    ;;
          *.bz2)       bunzip2 $1     ;;
          *.rar)       rar x $1       ;;
          *.gz)        gunzip $1      ;;
          *.tar)       tar xvf $1     ;;
          *.jar)       jar xf $1      ;;
          *.tbz2)      tar xvjf $1    ;;
          *.tgz)       tar xvzf $1    ;;
          *.zip)       unzip $1       ;;
          *.Z)         uncompress $1  ;;
          *.7z)        7z x $1        ;;
          *)           echo "don't know how to extract '$1'..." ;;
      esac
  else
      echo "'$1' is not a valid file!"
  fi
}

# Start a local SMTP server for testing in python
smtp-server() {
  echo "SMTP Server created on 'localhost:1025' - [Ctrl] + [C] to exit."
  python -m smtpd -n -c DebuggingServer localhost:1025
}

# Open man page as PDF
manpdf() {
  man -t "$1" | open -f -a /Applications/Preview.app/
}

# `lq` is an alias to convert LDIF results to a JSON blob, it's real hacky: (Thank you Luke Y! ;) )
lq () {
    awk '!/^#/' | jq -Rs '[split("\n\n")[] | select(length >0) | [split("\n")[] | {attribute: split(": ")[0], value: (split(": ")[1:] | join(": "))}] | [group_by(.attribute)[] | { key: .[0].attribute, value: [.[].value]}] | from_entries]'
}