<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AKLastIDMSEnvironment</key>
	<integer>0</integer>
	<key>AKLastLocale</key>
	<string>en_US</string>
	<key>AppleAntiAliasingThreshold</key>
	<integer>4</integer>
	<key>AppleICUForce24HourTime</key>
	<true/>
	<key>AppleInterfaceStyleSwitchesAutomatically</key>
	<true/>
	<key>AppleKeyboardUIMode</key>
	<integer>0</integer>
	<key>AppleLanguages</key>
	<array>
		<string>en-US</string>
	</array>
	<key>AppleLanguagesDidMigrate</key>
	<string>13.4.1</string>
	<key>AppleLanguagesSchemaVersion</key>
	<integer>3000</integer>
	<key>AppleLocale</key>
	<string>en_US@currency=USD</string>
	<key>AppleMeasurementUnits</key>
	<string>Inches</string>
	<key>AppleMetricUnits</key>
	<false/>
	<key>AppleMiniaturizeOnDoubleClick</key>
	<false/>
	<key>ApplePressAndHoldEnabled</key>
	<false/>
	<key>AppleShowAllExtensions</key>
	<true/>
	<key>AppleShowScrollBars</key>
	<string>Automatic</string>
	<key>InitialKeyRepeat</key>
	<integer>25</integer>
	<key>KB_DoubleQuoteOption</key>
	<string>"abc"</string>
	<key>KB_SingleQuoteOption</key>
	<string>'abc'</string>
	<key>KB_SpellingLanguage</key>
	<dict>
		<key>KB_SpellingLanguageIsAutomatic</key>
		<true/>
	</dict>
	<key>KeyRepeat</key>
	<integer>2</integer>
	<key>NSAutomaticCapitalizationEnabled</key>
	<true/>
	<key>NSAutomaticDashSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticPeriodSubstitutionEnabled</key>
	<false/>
	<key>NSAutomaticQuoteSubstitutionEnabled</key>
	<false/>
	<key>NSLinguisticDataAssetsRequestLastInterval</key>
	<real>86400</real>
	<key>NSLinguisticDataAssetsRequestTime</key>
	<date>2023-07-03T00:11:01Z</date>
	<key>NSLinguisticDataAssetsRequested</key>
	<array>
		<string>en</string>
	</array>
	<key>NSLinguisticDataAssetsRequestedByChecker</key>
	<array>
		<string>en</string>
	</array>
	<key>NSUserDictionaryReplacementItems</key>
	<array>
		<dict>
			<key>on</key>
			<integer>1</integer>
			<key>replace</key>
			<string>omw</string>
			<key>with</key>
			<string>On my way!</string>
		</dict>
	</array>
	<key>NSUserQuotesArray</key>
	<array>
		<string>"</string>
		<string>"</string>
		<string>'</string>
		<string>'</string>
	</array>
	<key>com.apple.finder.SyncExtensions</key>
	<dict>
		<key>collaborationMap</key>
		<dict/>
		<key>dirMap</key>
		<dict/>
	</dict>
	<key>com.apple.sound.beep.flash</key>
	<integer>0</integer>
	<key>com.apple.springing.delay</key>
	<real>0.5</real>
	<key>com.apple.springing.enabled</key>
	<true/>
	<key>com.apple.swipescrolldirection</key>
	<false/>
	<key>com.apple.trackpad.forceClick</key>
	<true/>
</dict>
</plist>
