<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSSURemindSoftwareUpdateDate</key>
	<date>4001-01-01T00:00:00Z</date>
	<key>SoftwareUpdateCheckAutomatically</key>
	<true/>
	<key>SoftwareUpdateCheckInterval</key>
	<integer>86400</integer>
	<key>SoftwareUpdateLastCheck</key>
	<date>2023-07-02T20:31:25Z</date>
</dict>
</plist>
