<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ESAHealthSampleUpdateStorageKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBwLDBEdHh8gLEVJT1BYWVxh
	YmprQWxtcHR4f4WIVSRudWxs0g0ODxBWJGNsYXNzWF9zdG9yYWdlgBuAAtMSEw0UGBxX
	TlMua2V5c1pOUy5vYmplY3RzoxUWF4ADgASABaMZGhuABoAYgBmAGllzb3NTdGF0dXNa
	d0F2YWlsYWJsZV5vdENsaXF1ZVN0YXR1c9YNISIjJCUmJygpKCdfEBxjdXJyZW50U3Rh
	dGVNb3N0UmVjZW50U2FtcGxlXxAXcHJldmlvdXNTdGF0ZUxhc3RTYW1wbGVUdHlwZV8Q
	GHByZXZpb3VzU3RhdGVGaXJzdFNhbXBsZV8QF2N1cnJlbnRTdGF0ZUZpcnN0U2FtcGxl
	gBeAB4AAEAWAAIAH3h0tHi4vMDEyMx80DTU2Nzg5Ojs4OD44QEFCKERYaW50ZXJuYWxf
	EA93QXZhaWxhYmxlRXJyb3Jec29zU3RhdHVzRXJyb3JbdGVzdEFjY291bnRfEBJpQ0RQ
	RW5hYmxlZEZvckRTSURZdGltZXN0YW1wXxAPcGFzc2NvZGVFbmFibGVkXxAUYWNjb3Vu
	dFNlY3VyaXR5TGV2ZWxfEBNvdENsaXF1ZVN0YXR1c0Vycm9yVWJ1aWxkE///////////
	CBP//////////4ALgA4ICIAICBAEEACAFoAAgArSRg1HSFdOUy50aW1lI0HFKOscYvTx
	gAnSSktMTVokY2xhc3NuYW1lWCRjbGFzc2VzVk5TRGF0ZaJMTlhOU09iamVjdFUyMkY4
	MtRRUlMNVChWV1ZOU0NvZGVaTlNVc2VySW5mb1hOU0RvbWFpbhP////////sEoAAgAyA
	DV1DRFBTdGF0ZUVycm9y0kpLWltXTlNFcnJvcqJaTtRRUlMNXV5fVxACgBCAD4ANXxAc
	Y29tLmFwcGxlLnNlY3VyaXR5LnNvcy5lcnJvctMSEw1jZmmiZGWAEYASomdogBOAFIAV
	XxASbnVtYmVyT2ZFcnJvcnNEZWVwXU5TRGVzY3JpcHRpb25fEG5QdWJsaWMgS2V5IGlz
	bid0IGF2YWlsYWJsZS4gVGhlIGlDbG91ZCBQYXNzd29yZCBtdXN0IGJlIHByb3ZpZGVk
	IHRvIGtleWNoYWluIHN5bmNpbmcgc3Vic3lzdGVtIHRvIHJlcGFpciB0aGlzLtJKS25v
	XE5TRGljdGlvbmFyeaJuTtJKS3FyXEhlYWx0aFNhbXBsZaJzTlxIZWFsdGhTYW1wbGXS
	Skt1dl8QGEhlYWx0aFNhbXBsZVVwZGF0ZVJlY29yZKJ3Tl8QGEhlYWx0aFNhbXBsZVVw
	ZGF0ZVJlY29yZNYNISIjJCUmJyh8KCeAF4AHgAAQA4AAgAfWDSEiIyQlJicoQCgngBeA
	B4AAgACAB9JKS4aHXxATTlNNdXRhYmxlRGljdGlvbmFyeaOGbk7SSkuJil8QEkhlYWx0
	aFNhbXBsZVVwZGF0ZaKLTl8QEkhlYWx0aFNhbXBsZVVwZGF0ZQAIABEAGgAkACkAMgA3
	AEkATABRAFMAcgB4AH0AhACNAI8AkQCYAKAAqwCvALEAswC1ALkAuwC9AL8AwQDLANYA
	5QDyAREBKwEwAUsBZQFnAWkBawFtAW8BcQGOAZcBqQG4AcQB2QHjAfUCDAIiAigCMQIy
	AjsCPQI/AkACQQJDAkQCRgJIAkoCTAJOAlMCWwJkAmYCawJ2An8ChgKJApICmAKhAqgC
	swK8AsUCxwLJAssC2QLeAuYC6QLyAvQC9gL4AvoDGQMgAyMDJQMnAyoDLAMuAzADRQNT
	A8QDyQPWA9kD3gPrA+4D+wQABBsEHgQ5BEYESARKBEwETgRQBFIEXwRhBGMEZQRnBGkE
	bgSEBIgEjQSiBKUAAAAAAAACAQAAAAAAAACMAAAAAAAAAAAAAAAAAAAEug==
	</data>
</dict>
</plist>
