<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAcccountInfoCacheReset</string>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1688120267</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>37b55b1be6cbb0e611a0bceb5f8a5df22030137621870eab1ecceb9b293b176f</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwbVSRu
		dWxs1w0ODxAREhMUFRYXGBkaViRjbGFzc18QE0hhc1ZhbGlkQ3JlZGVudGlh
		bHNcV2FscnVzU3RhdHVzXxAQQWNjb3VudFBhcnRpdGlvbl8QJERldmljZVRv
		RGV2aWNlRW5jcnlwdGlvbkF2YWlsYWJpbGl0eV1BY2NvdW50U3RhdHVzXxAc
		QWNjb3VudEluZm9WYWxpZGF0aW9uQ291bnRlcoACCBACEAEQABADECHSHB0e
		H1okY2xhc3NuYW1lWCRjbGFzc2VzXUNLQWNjb3VudEluZm+iHiBYTlNPYmpl
		Y3QACAARABoAJAApADIANwBJAEwAUQBTAFcAXQBsAHMAiQCWAKkA0ADeAP0A
		/wEAAQIBBAEGAQgBCgEPARoBIwExATQAAAAAAAACAQAAAAAAAAAhAAAAAAAA
		AAAAAAAAAAABPQ==
		</data>
	</dict>
	<key>DidCleanLegacyAccountPrefs</key>
	<true/>
	<key>GDRRequestMadeForRelayRepair</key>
	<true/>
	<key>ImportedLegacyIDSAccounts2</key>
	<true/>
	<key>ImportedLegacyIMAccounts</key>
	<true/>
	<key>LastKeyGeneration</key>
	<real>1688121963.0108571</real>
	<key>MigratedToNewDisabledState</key>
	<true/>
	<key>activityTopics</key>
	<array>
		<string>com.apple.private.alloy.willow-com.apple.HomeKit</string>
	</array>
	<key>hasRegIdentityContainer</key>
	<integer>0</integer>
	<key>hasUnregIdentityContainer</key>
	<integer>1</integer>
	<key>performed-user-intent-migrate</key>
	<true/>
	<key>persister-migration-com.apple.identityservices.userStore</key>
	<true/>
	<key>persister-migration-com.apple.identityservicesd.invitation.store</key>
	<true/>
	<key>persister-migration-com.apple.identityservicesd.waking-push-priority</key>
	<true/>
</dict>
</plist>
