<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PHALastSettingsReportMonth</key>
	<integer>7</integer>
	<key>PHAPhotoLibraryList</key>
	<dict>
		<key>/Users/ccarini/Pictures/Photos Library.photoslibrary</key>
		<dict>
			<key>path</key>
			<string>/Users/ccarini/Pictures/Photos Library.photoslibrary</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
