<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ComfortSoundsSelectedSound</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwXGB4fJVUkbnVsbNUNDg8Q
	ERITFBUWXxAWSFVDb21mb3J0U291bmRBc3NldEtleVYkY2xhc3NfEBVIVUNvbWZvcnRT
	b3VuZE5hbWVLZXlfEBVIVUNvbWZvcnRTb3VuZFBhdGhLZXlfEBZIVUNvbWZvcnRTb3Vu
	ZEdyb3VwS2V5gACABoACgAMQBVRSYWlu0xkOGhIcHVdOUy5iYXNlW05TLnJlbGF0aXZl
	gACABYAEXxBWZmlsZTovLy9TeXN0ZW0vTGlicmFyeS9Qcml2YXRlRnJhbWV3b3Jrcy9I
	ZWFyaW5nVXRpbGl0aWVzLmZyYW1ld29yay9SZXNvdXJjZXMvUmFpbi5tNGHSICEiI1ok
	Y2xhc3NuYW1lWCRjbGFzc2VzVU5TVVJMoiIkWE5TT2JqZWN00iAhJideSFVDb21mb3J0
	U291bmSiKCReSFVDb21mb3J0U291bmQACAARABoAJAApADIANwBJAEwAUQBTAFsAYQBs
	AIUAjACkALwA1QDXANkA2wDdAN8A5ADrAPMA/wEBAQMBBQFeAWMBbgF3AX0BgAGJAY4B
	nQGgAAAAAAAAAgEAAAAAAAAAKQAAAAAAAAAAAAAAAAAAAa8=
	</data>
	<key>comfortSoundsEnabled</key>
	<false/>
</dict>
</plist>
