<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame Problem Report Window</key>
	<string>604 610 520 267 0 0 1728 1079 </string>
	<key>ShowComments</key>
	<true/>
</dict>
</plist>
