<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>73309.417477500014</real>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>87</integer>
						<key>id64</key>
						<integer>87</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string>3B934190-F4DF-4131-B483-EB38A900681E</string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>1</integer>
							<key>id64</key>
							<integer>1</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string></string>
							<key>wsid</key>
							<integer>1</integer>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>83</integer>
							<key>id64</key>
							<integer>83</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>58BE9056-E363-492E-89B1-2E8B4627E734</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>84</integer>
							<key>id64</key>
							<integer>84</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>6AF7595B-AF26-4F3F-9C26-2DA7A9182203</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>87</integer>
							<key>id64</key>
							<integer>87</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>3B934190-F4DF-4131-B483-EB38A900681E</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>85</integer>
							<key>id64</key>
							<integer>85</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>5FDB4BAF-A8A8-47E2-B82E-93EAB63FD6B2</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>91</integer>
							<key>id64</key>
							<integer>91</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>AD8E32D1-68D2-446B-8B28-8CD31763FDE7</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>88</integer>
							<key>id64</key>
							<integer>88</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>760458A2-E360-48C0-8C17-F466EBAA0280</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>89</integer>
							<key>id64</key>
							<integer>89</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>CB04D12C-AA58-4890-BB66-01F38780BE00</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>90</integer>
							<key>id64</key>
							<integer>90</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>EFF1DC20-2177-4D28-AB1A-BDBEC947EA8C</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>92</integer>
							<key>id64</key>
							<integer>92</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>E2870D54-0806-482D-94E4-63E4E2CFD8EE</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>93</integer>
							<key>id64</key>
							<integer>93</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>1E169B4A-5F86-4702-A387-A28EF5858B6F</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>94</integer>
							<key>id64</key>
							<integer>94</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>D0F59C38-1B3C-42FC-95DF-4105DD187A3F</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>96</integer>
							<key>id64</key>
							<integer>96</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>602A919E-D80C-4685-ADC9-876C6B1FF45E</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>95</integer>
							<key>id64</key>
							<integer>95</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>0041A606-C9A8-4115-96C2-B629F6C16086</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>97</integer>
							<key>id64</key>
							<integer>97</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>55F565C9-1B63-47B9-9795-E3CBC936A503</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>98</integer>
							<key>id64</key>
							<integer>98</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string>045A3DF3-1F4A-4335-856A-C2775A97D660</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>1</integer>
				<key>DeletedCount</key>
				<integer>1</integer>
				<key>LifetimeEntryCount</key>
				<integer>1</integer>
				<key>LifetimeMax</key>
				<real>0.56122520833378076</real>
				<key>LifetimeMin</key>
				<real>0.56122520833378076</real>
				<key>LifetimeSum</key>
				<real>0.56122520833378076</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>0</integer>
				<key>DeletedCount</key>
				<integer>0</integer>
				<key>LifetimeEntryCount</key>
				<integer>0</integer>
				<key>LifetimeMax</key>
				<real>0.0</real>
				<key>LifetimeMin</key>
				<real>0.0</real>
				<key>LifetimeSum</key>
				<real>0.0</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2800</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>58BE9056-E363-492E-89B1-2E8B4627E734</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2802</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>6AF7595B-AF26-4F3F-9C26-2DA7A9182203</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2803</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>5FDB4BAF-A8A8-47E2-B82E-93EAB63FD6B2</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2805</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>3B934190-F4DF-4131-B483-EB38A900681E</string>
				<key>windows</key>
				<array>
					<integer>4299</integer>
					<integer>4290</integer>
					<integer>3967</integer>
					<integer>6114</integer>
					<integer>3903</integer>
					<integer>3981</integer>
					<integer>5569</integer>
					<integer>5770</integer>
					<integer>5485</integer>
					<integer>5486</integer>
					<integer>5487</integer>
					<integer>5484</integer>
					<integer>5483</integer>
					<integer>5482</integer>
					<integer>5481</integer>
					<integer>5480</integer>
					<integer>5479</integer>
					<integer>5444</integer>
					<integer>5445</integer>
					<integer>5446</integer>
					<integer>5447</integer>
					<integer>5448</integer>
					<integer>5580</integer>
					<integer>5449</integer>
					<integer>5450</integer>
					<integer>5451</integer>
					<integer>5452</integer>
					<integer>5453</integer>
					<integer>5454</integer>
					<integer>5455</integer>
					<integer>5456</integer>
					<integer>5457</integer>
					<integer>5458</integer>
					<integer>5459</integer>
					<integer>5460</integer>
					<integer>5461</integer>
					<integer>5462</integer>
					<integer>5463</integer>
					<integer>5464</integer>
					<integer>5465</integer>
					<integer>5466</integer>
					<integer>5467</integer>
					<integer>5468</integer>
					<integer>5469</integer>
					<integer>5470</integer>
					<integer>5471</integer>
					<integer>5472</integer>
					<integer>5473</integer>
					<integer>5474</integer>
					<integer>5475</integer>
					<integer>5476</integer>
					<integer>5477</integer>
					<integer>5478</integer>
					<integer>5525</integer>
					<integer>5524</integer>
					<integer>5523</integer>
					<integer>5522</integer>
					<integer>5521</integer>
					<integer>5520</integer>
					<integer>5519</integer>
					<integer>5518</integer>
					<integer>5517</integer>
					<integer>5516</integer>
					<integer>5515</integer>
					<integer>5514</integer>
					<integer>5513</integer>
					<integer>5512</integer>
					<integer>5511</integer>
					<integer>5510</integer>
					<integer>5509</integer>
					<integer>5508</integer>
					<integer>5507</integer>
					<integer>5495</integer>
					<integer>5494</integer>
					<integer>5493</integer>
					<integer>5492</integer>
					<integer>5491</integer>
					<integer>5490</integer>
					<integer>5489</integer>
					<integer>5488</integer>
					<integer>5238</integer>
					<integer>2801</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>760458A2-E360-48C0-8C17-F466EBAA0280</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2807</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>CB04D12C-AA58-4890-BB66-01F38780BE00</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2808</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>EFF1DC20-2177-4D28-AB1A-BDBEC947EA8C</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2809</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>AD8E32D1-68D2-446B-8B28-8CD31763FDE7</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2806</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>E2870D54-0806-482D-94E4-63E4E2CFD8EE</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2810</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>1E169B4A-5F86-4702-A387-A28EF5858B6F</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2811</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>D0F59C38-1B3C-42FC-95DF-4105DD187A3F</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2812</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>0041A606-C9A8-4115-96C2-B629F6C16086</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2813</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>602A919E-D80C-4685-ADC9-876C6B1FF45E</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2804</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>55F565C9-1B63-47B9-9795-E3CBC936A503</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2814</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>045A3DF3-1F4A-4335-856A-C2775A97D660</string>
				<key>windows</key>
				<array>
					<integer>5569</integer>
					<integer>5238</integer>
					<integer>2815</integer>
				</array>
			</dict>
		</array>
	</dict>
	<key>app-bindings</key>
	<dict>
		<key>com.apple.activitymonitor</key>
		<string>AllSpaces</string>
	</dict>
</dict>
</plist>
