<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsecutiveNotificationsCount</key>
	<integer>1</integer>
	<key>DeliveryEventIdentifierToDeliveryEventMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>DeliveryInfoVersion</key>
	<string>93c6896f754a03411af465c9f2c13f6b7a997aa25af2e6900d25024dc4eeecfe</string>
	<key>DiscoverabilityDeliveryInfoMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>Experiment</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwUVSRudWxs1A0ODxARERIT
	VGNhbXBSaWRWJGNsYXNzXxARaG9sZG91dEFsbG9jYXRpb24QAYACIz+5mZmZmZma0hUW
	FxhaJGNsYXNzbmFtZVgkY2xhc3Nlc11UUFNFeHBlcmltZW50ohkaXVRQU0V4cGVyaW1l
	bnRYTlNPYmplY3QIERokKTI3SUxRU1ddZmtudYmLjZabpq+9wM4AAAAAAAABAQAAAAAA
	AAAbAAAAAAAAAAAAAAAAAAAA1w==
	</data>
	<key>TPSAnalyticsHistoricTipsDataProcessor_DateLastRun</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBXTlMu
	dGltZVYkY2xhc3MjQcUpOpL12fWAAtISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNE
	YXRlohQWWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJqcXp8gYyVnJ8AAAAAAAABAQAAAAAA
	AAAXAAAAAAAAAAAAAAAAAAAAqA==
	</data>
	<key>TPSAnalyticsStore</key>
	<dict>
		<key>TPSLastNotificationTime</key>
		<date>2023-07-02T16:28:52Z</date>
		<key>TPSNotificationCount</key>
		<integer>1</integer>
	</dict>
	<key>TPSAnalyticsUsageEventsProcessor_DateLastRun</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBXTlMu
	dGltZVYkY2xhc3MjQcUpOpL0wcqAAtISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNE
	YXRlohQWWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJqcXp8gYyVnJ8AAAAAAAABAQAAAAAA
	AAAXAAAAAAAAAAAAAAAAAAAAqA==
	</data>
	<key>TPSDidRevertArchivedTipStatuses</key>
	<true/>
	<key>TPSFullTipUsageEventContextualInfo</key>
	<data>
	YnBsaXN0MDDUAAEAAgADAAQABQAGAAcAClgkdmVyc2lvblkkYXJjaGl2ZXJUJHRvcFgk
	b2JqZWN0cxIAAYagXxAPTlNLZXllZEFyY2hpdmVy0QAIAAlUcm9vdIABrxA7AAsADAAd
	AB4AHwAgACEAIgA4ADkAPQBjAGQAZQBmAHIAcwB7AIEAhACFAIoAlACVAJkAqgCrAKwA
	sgCzALQAvgC/AMMA1ADVANYA1wDdAN4A3wDpAOoA7gD/AQABAQEHAQgBCQETARQBGAEp
	ASoBKwExATIBM1UkbnVsbNMADQAOAA8AEAAWABxXTlMua2V5c1pOUy5vYmplY3RzViRj
	bGFzc6UAEQASABMAFAAVgAKAA4AEgAWABqUAFwAYABkAGgAbgAeAFYAegCiAMYA6XxAn
	ZG9jMGIzOTcwMjYtYTgwNy00ODJlLTkwOTYtNTdlNjhhOWI5ZDZhXxAnZG9jZTNiODFl
	M2EtNGQ1Ni00OWYyLTkzZWUtNWIzNjNlZjZkZTM5XxAnZG9jNGYzY2IxZDItZDM5ZC00
	YmY2LWIxODMtNGU2Zjc2NmVhODIzXxAnZG9jYWQ2ZTJhZjUtM2NmMC00OTkwLThhNzUt
	ZGQxZmRjMGZjYmVmXxAnZG9jMjcxMTY1NTMtZGZkMi00NDJiLTk3NTEtMzI1YTdmNDdh
	ZGUz2wAjACQAJQAmAA8AJwAoACkAKgArACwALQAuAC8ALgAxADIALgA0ADUALgAuW3Vz
	YWdlRXZlbnRzXxAQZGlzcGxheUJ1bmRsZUlkc1xsYXN0TW9kaWZpZWRYdHJpZ2dlcnNf
	EA9kaXNwbGF5TWF4Q291bnReZGVzaXJlZE91dGNvbWVfEA9jdXN0b21pemF0aW9uSWRa
	ZG9jdW1lbnRJZF8QEG1vbml0b3JpbmdFdmVudHNfEBBlbGlnaWJsZUNvbnRleHRzgAmA
	AIATgACAFBABgAAQAIAIgACAAF8QJ2RvYzBiMzk3MDI2LWE4MDctNDgyZS05MDk2LTU3
	ZTY4YTliOWQ2YdIADgAPADoAPKEAO4AKgBLfEBUAPgA/AEAAQQBCAA8AQwBEAEUARgBH
	AEgASQBKAEsATABNAE4ATwBQAFEAUgAuADIANAAuAFUAVgA0AC4ALgBZAC4ALgBcAC4A
	LgBfAC4ALgAyAC5fEA9taW5PYnNlcnZhdGlvbnNWc291cmNlVnN0YXR1c1xsb29rQmFj
	a0RheXNfEA9ncm91cEJ5S2V5UGF0aHNWc3RyZWFtVHR5cGVVc3RhdGVeZXZlbnRTaW5j
	ZURhdGVSaWRfEBNvYnNlcnZlcklkZW50aWZpZXJzVG1ldGFfEBhkYXlzU2luY2VMYXN0
	TWFqb3JVcGRhdGVYYm9va21hcmtbbWF0Y2hlZERhdGVVdmFsdWVeb2JzZXJ2YXRpb25N
	YXBfEBJ1c2VySW5mb1BlcnNpc3RlbnRZc3RvcmVUeXBlU2tleRABgACAAIARgA2AAIAA
	gAyAAIAAgAuAAIAAgA6AAIAAgAATf/////////9fECBmOGI3NTAyNjU4MmUxMGI2YjRk
	ODg3ZTAzODQzNzQ5ZV8QGC9kaXNjb3ZlcmFiaWxpdHkvc2lnbmFsc9YADwBnAGgAaQBq
	AGsAbABtAC4ALgBwAC5ZdmFsdWVUeXBlWWJvb2xWYWx1ZVxpbnRlZ2VyVmFsdWVbc3Ry
	aW5nVmFsdWVbZG91YmxlVmFsdWWAEBAEgACAAIAPgABfECNjb20uYXBwbGUubm90aWZp
	Y2F0aW9uY2VudGVyLm9wZW5lZNIAdAB1AHYAd1okY2xhc3NuYW1lWCRjbGFzc2VzXxAb
	VFBTQ29udGV4dHVhbER1ZXRFdmVudFZhbHVlowB4AHkAel8QG1RQU0NvbnRleHR1YWxE
	dWV0RXZlbnRWYWx1ZV8QFVRQU1NlcmlhbGl6YWJsZU9iamVjdFhOU09iamVjdNIAdAB1
	AHwAfV8QFlRQU0NvbnRleHR1YWxEdWV0RXZlbnSkAH4AfwCAAHpfEBZUUFNDb250ZXh0
	dWFsRHVldEV2ZW50XxASVFBTQ29udGV4dHVhbEV2ZW50XxAVVFBTU2VyaWFsaXphYmxl
	T2JqZWN00gB0AHUAggCDV05TQXJyYXmiAIIAehMAAAGFxm6A3tIAdAB1AIYAh18QEVRQ
	U0NvbnRleHR1YWxJbmZvowCIAIkAel8QEVRQU0NvbnRleHR1YWxJbmZvXxAVVFBTU2Vy
	aWFsaXphYmxlT2JqZWN02wAjACQAJQAmAA8AJwAoACkAKgArACwAiwAuAI0ALgAxADIA
	LgA0AJEALgAugBeAAIAdgACAFIAAgBaAAIAAXxAnZG9jZTNiODFlM2EtNGQ1Ni00OWYy
	LTkzZWUtNWIzNjNlZjZkZTM50gAOAA8AlgA8oQCXgBiAEt8QFQA+AD8AQABBAEIADwBD
	AEQARQBGAEcASABJAEoASwBMAE0ATgBPAFAAUQBSAC4AMgA0AC4AVQBWADQALgAuAKAA
	LgAuAKMALgAuAKYALgAuADIALoAAgACAEYANgACAAIAagACAAIAZgACAAIAbgACAAIAA
	E3//////////XxAgNzVhMmIwOWZjZDZjMGYxMjUzMzQ3NWYxZWRkZDZiNjDWAA8AZwBo
	AGkAagBrAGwAbQAuAC4AsAAugBCAAIAAgByAAF8QHmNvbS5hcHBsZS5zY3JlZW5jYXB0
	dXJlLmludm9rZRMAAAGFxmvIztsAIwAkACUAJgAPACcAKAApACoAKwAsALUALgC3AC4A
	MQAyAC4ANAC7AC4ALoAggACAJ4AAgBSAAIAfgACAAF8QJ2RvYzRmM2NiMWQyLWQzOWQt
	NGJmNi1iMTgzLTRlNmY3NjZlYTgyM9IADgAPAMAAPKEAwYAhgBLfEBUAPgA/AEAAQQBC
	AA8AQwBEAEUARgBHAEgASQBKAEsATABNAE4ATwBQAFEAUgAuADIANAAuAFUAxwA0AC4A
	LgDKAC4ALgDNAC4ALgDQAC4ALgAyAC6AAIAAgBGAJIAAgACAI4AAgACAIoAAgACAJYAA
	gACAABN//////////18QIDRlNjY4YzkxZDZiYTcwYmM3MGE0NTQzN2YzZjIyMmNkXxAY
	L2Rpc2NvdmVyYWJpbGl0eS9zaWduYWxz1gAPAGcAaABpAGoAawBsAG0ALgAuANsALoAQ
	gACAAIAmgABfECdjb20uYXBwbGUuZmluZGVyLmRlc2t0b3Auc3RhY2tzLWVuYWJsZWQT
	AAABhcZtNorbACMAJAAlACYADwAnACgAKQAqACsALADgAC4A4gAuADEAMgAuADQA5gAu
	AC6AKoAAgDCAAIAUgACAKYAAgABfECdkb2NhZDZlMmFmNS0zY2YwLTQ5OTAtOGE3NS1k
	ZDFmZGMwZmNiZWbSAA4ADwDrADyhAOyAK4AS3xAVAD4APwBAAEEAQgAPAEMARABFAEYA
	RwBIAEkASgBLAEwATQBOAE8AUABRAFIALgAyADQALgBVAMcANAAuAC4A9QAuAC4A+AAu
	AC4A+wAuAC4AMgAugACAAIARgCSAAIAAgC2AAIAAgCyAAIAAgC6AAIAAgAATf///////
	//9fECAwODViZjBjYTZhZGEwODlkYzY5NGIxM2IxOWYyYzM1YdYADwBnAGgAaQBqAGsA
	bABtAC4ALgEFAC6AEIAAgACAL4AAXxAhY29tLmFwcGxlLmNvbnRyb2xjZW50ZXIucHJl
	c2VudGVkEwAAAYXGbhS82wAjACQAJQAmAA8AJwAoACkAKgArACwBCgAuAQwALgAxADIA
	LgA0ARAALgAugDOAAIA5gACAFIAAgDKAAIAAXxAnZG9jMjcxMTY1NTMtZGZkMi00NDJi
	LTk3NTEtMzI1YTdmNDdhZGUz0gAOAA8BFQA8oQEWgDSAEt8QFQA+AD8AQABBAEIADwBD
	AEQARQBGAEcASABJAEoASwBMAE0ATgBPAFAAUQBSAC4AMgA0AC4AVQDHADQALgAuAR8A
	LgAuASIALgAuASUALgAuADIALoAAgACAEYAkgACAAIA2gACAAIA1gACAAIA3gACAAIAA
	E3//////////XxAgZTg3YTc3YTkzNGRiNjExMjI1ZDcxNzlkN2MxZjFkOWTWAA8AZwBo
	AGkAagBrAGwAbQAuAC4BLwAugBCAAIAAgDiAAF8QG2NvbS5hcHBsZS5zcG90bGlnaHQu
	aW52b2tlZBMAAAGFxm618tIAdAB1ATQBNVxOU0RpY3Rpb25hcnmiATQAegAIABkAIgAs
	ADEAOgA/AFEAVgBbAF0A1gDcAOkA8QD8AQMBDgEQARIBFAEWARgBIwElAScBKQErAS0B
	LwFZAYMBrQHXAgECLgI6Ak0CWgJjAnUChAKWAqECtALHAskCywLNAs8C0QLTAtUC1wLZ
	AtsC3QMHAxADEwMVAxcDbgOAA4cDjgObA60DtAO5A78DzgPRA+cD7AQHBBAEHAQiBDEE
	RgRQBFQEVgRYBFoEXAReBGAEYgRkBGYEaARqBGwEbgRwBHIEdAR2BH8EogS9BNYE4ATq
	BPcFAwUPBREFEwUVBRcFGQUbBUEFSgVVBV4FfAWDBaEFuQXCBcsF5AXtBgYGGwYzBjwG
	RAZJBlIGWwZvBnYGigaiBs8G0QbTBtUG1wbZBtsG3QbfBuEHCwcUBxcHGQcbB3IHdAd2
	B3gHegd8B34HgAeCB4QHhgeIB4oHjAeOB5AHkgebB74H1wfZB9sH3QffB+EIAggLCDgI
	Ogg8CD4IQAhCCEQIRghICEoIdAh9CIAIggiECNsI3QjfCOEI4wjlCOcI6QjrCO0I7wjx
	CPMI9Qj3CPkI+wkECScJQglbCV0JXwlhCWMJZQmPCZgJxQnHCckJywnNCc8J0QnTCdUJ
	1woBCgoKDQoPChEKaApqCmwKbgpwCnIKdAp2CngKegp8Cn4KgAqCCoQKhgqICpEKtArN
	Cs8K0QrTCtUK1wr7CwQLMQszCzULNws5CzsLPQs/C0ELQwttC3YLeQt7C30L1AvWC9gL
	2gvcC94L4AviC+QL5gvoC+oL7AvuC/AL8gv0C/0MIAw5DDsMPQw/DEEMQwxhDGoMcwyA
	AAAAAAAAAgIAAAAAAAABNgAAAAAAAAAAAAAAAAAADIU=
	</data>
	<key>TPSLastMajorVersion</key>
	<string>13</string>
	<key>TPSLastNotificationDate</key>
	<date>2023-07-02T16:28:52Z</date>
	<key>TPSOfflineLastProcessedRemoteContentIdentifier</key>
	<string>en-93c6896f754a03411af465c9f2c13f6b7a997aa25af2e6900d25024dc4eeecfe</string>
	<key>TPSSearchIndexLastClientState</key>
	<data>
	eyJ2ZXJzaW9uIjoyLCJkb2N1bWVudEluZGV4SGFzaGVzIjp7ImRvY2FkNmUyYWY1LTNj
	ZjAtNDk5MC04YTc1LWRkMWZkYzBmY2JlZiI6IjhVY05rRE5aZFBLbldjdUhZcXczZzkz
	Z2NsdnpyQjJSYnVQNnpLdWJoSkU9IiwiZG9jMjcxMTY1NTMtZGZkMi00NDJiLTk3NTEt
	MzI1YTdmNDdhZGUzIjoiS0ZubVBjY0JrMDRyN2l0NmswbmcyMXVLM09MTGtFTmpoSzk5
	eTg0S1ByTT0iLCJkb2MxZjkwZWNiMy04ZWFlLTQ2MzYtODdiZC04ZDZlMGI4YzU0OTki
	OiJZWDAxc0x1MWpyWWJGZGNySjlGNmV5RHdQQkdnQWpxSmg1SnNLNFM4Z0NNPSIsImRv
	YzRmM2NiMWQyLWQzOWQtNGJmNi1iMTgzLTRlNmY3NjZlYTgyMyI6IjVacXJ0VHNYZzR0
	UzRJNzA1NHhDXC80XC9XemdCQVN4QTR1cEpreFJQdG5tQT0iLCJkb2M5YzBlZDFhZC1k
	MmQyLTQ5YWYtYmI4My1kMGU1N2RiNjA5MzQiOiJ5OUJDY3lGYTg4ZkpxZWk2Q1k4XC9y
	dUZDdjdcL2w4ZmtqNmtJMGZ0Y1Nwbkk9IiwiZG9jZGY5ZDBhNWItOGYwMi00ZmFjLTk3
	ZWQtYjNkZjQ5MGM2ZGIxIjoib2VmMmRkXC9rOHVEdml3bXk2UmhQYkE2VDZFS254bDhw
	RnB4Y1hxUEpYXC9vPSIsImRvYzcyODhkYjBlLTk0N2EtNDc0ZC05MjMyLTEzMDhiNDE4
	M2E1MyI6IlYzcVdST2VPcnJBSkNOVlwvSTlRWnJaNmRlWXlId2tmWmxhZ2dSelMrbk1R
	PSIsImRvYzA1ZDlmYWQ0LWNjYjYtNDhjMS1iNjRiLWVmMzc2YjhiZDY1OCI6ImFUaDZP
	QmJvbUtDTFdtUEhrNktCZVVlTFpTTlR6T2c1cVVBM29scVM5NEE9IiwiZG9jMzdkYWZj
	ZTMtZTY4YS00Y2JhLWI0NmQtYmY2YjkwMWNkZDI5IjoiQUUrcURjdGp6NlJueEhSVGt2
	WXVyWGUxZjkzN3llVmdQTEUyRXg5VklUaz0iLCJkb2NhNjdjYTM2YS0xMTJkLTRhYmYt
	OWMyMi03OGRjZjM0MTM4MGQiOiI4b1ZcL1lDV3h4QWtDelZMRFBlNjltMXF0TGxjbmky
	ZG1EejNLN2lLVG9vaz0iLCJkb2NlY2FhMjljOS1iZjliLTQzMTAtYTgzNS1iZDE3NDFj
	NTNjYTEiOiJNVXpuR0tHekJScUJxbnhwY1YzWTdWUzViNlZSMG1BM0xMTkV4TU9ob29N
	PSIsImRvYzVkNDI1MjNhLTI0NWEtNDc0Mi1hY2ZkLWQwYzI2ZGRmNWZmZSI6InBtcVR0
	MnRJU3dTZVpzZ1lvVFNJa0F6VDNGU0ZzYTZJZURBTGpoajBmSEE9IiwiZG9jMGIzOTcw
	MjYtYTgwNy00ODJlLTkwOTYtNTdlNjhhOWI5ZDZhIjoiQnU0ZENScWFtZUQxV0l0bzNM
	Vmp5TlhtcEJkSnJyOUJ4aFYzTmNlQ2Z2QT0iLCJkb2NiZTJiY2JlMS01ZDQ2LTQ1MDMt
	OGYxMC1jM2E1NWMyYzI3M2UiOiJPVGpDRVR1a3M5WFwvUThCMkM5Rll1Qmd0eW9LNThP
	bEZEYzl6VUxYdXhYTT0iLCJkb2NlM2I4MWUzYS00ZDU2LTQ5ZjItOTNlZS01YjM2M2Vm
	NmRlMzkiOiJrRFwvc0hHVWkyeVljUzhXNkI1TmF0SEUweEN6QVA3K3BIOXBCUXdLMUo5
	RT0iLCJkb2M1ZjgzMjAxMi0yNDVlLTQyOGUtYjhlMi1iOGJkNjJhNjBkZTMiOiJjSzVa
	Nmg4MEltaGVobjQ3aStJTjIxWmNqbnNMUklWdVpidDZ4N3kwXC82Zz0iLCJkb2M2MDYy
	Mjg2Zi1hZTYyLTQ4MzItOTE5ZS01YThhMzBlZmVkM2QiOiJ3M3ZsaGhUdkVacDJmU2Fw
	cnFBNWJZWjN4aDhHYnJMd0U2dFwvd0JCNzJvbz0iLCJkb2NjM2RlZjlmMy00M2U2LTQy
	Y2MtODkzOC03MWQ0NzdjYWMyZjgiOiJtUTRnSkJSbnUrSk9xOHNkUG9ET3VCeGVKYlZi
	cVYwN1pUb0tHZG5rYVwvdz0iLCJkb2M1OTY1MTU0Yi0zZmEyLTRjZTYtYTJjYy1mZDI3
	ZGMyZTE4YmIiOiJ1dlRDVjRwa0RVcDJTS29Db3hNc1NKVWZJUUtuc0g4WDUySXZcLzR1
	K0kxZz0iLCJkb2M5YzcyNmRjYi1kYmZkLTQyY2EtOWRlZC05NzA2YTQ0ZTFjOGMiOiJD
	STMzdU1UWGNwclZMQ3g5NHVYaVBRMUJRSHJpUXRHSWlCUGFERXBvaFJjPSIsImRvYzc5
	M2RhZDYwLTNjM2MtNGM1Zi04NGVkLTJjMjQ0YWQwYzRjMyI6InA1WEU2OTZtVWRXRlls
	SlVXQTRWQmFyZEJycmJZaHhIY1JQZXhHY1dFMEU9IiwiZG9jMzU2M2NjOTgtOTFkZi00
	ZWNiLThhZWItOWI0OWMzODgyNGM3IjoiMEF0dzN2SFVyRitnTVRENDE5eVF2Y0NNdTdm
	bmpmSmR6Mm53empNM3ZSbz0iLCJkb2MxZWE4NGFjZS1lMzQ2LTQ2ZDEtYWFjMi0yM2Y2
	MzBhOGIyODQiOiJyVW8yMnpCOXc4T3J1XC9vVTZTVTYranhHRzBCVXRcL0RTU1lSdmo4
	cStKbDg9IiwiZG9jYTc1MWNjZTUtNDlmMS00NjhkLWI3YzYtNmVhMzliNzUzMDBjIjoi
	VGNZbW1WVjBEMWNGZnMrdmgxZlRJYmlJdlZcL1hHZThnMjFKYmNxN21ndjQ9IiwiZG9j
	YjYzNjI5NTQtOGJjYi00MjM4LTlmODMtM2IwMmU0MTkwYzY4IjoiK3FvMnFaOXNIcVJQ
	MHdGWjJwaWFZeW1EcWVkSVpMaitJR1ozT1ZmTnpRbz0iLCJkb2MxZjNiM2VhNy01NDM4
	LTQyNzQtOTNiOS01NGE3NGViNDI4YmQiOiJPTmdpTXpaVmo2eWY4c3B1eW4wMStIUllq
	cUVlcVVTWE4zczJvRWk1OUxvPSJ9fQ==
	</data>
	<key>TPSTipsAppInstalled</key>
	<true/>
	<key>TPSWaitingToShowWelcomeNotification</key>
	<false/>
	<key>TPSWelcomeNotificationReminderState</key>
	<integer>1</integer>
	<key>TPSWelcomeNotificationStartDate</key>
	<date>2023-06-30T10:46:10Z</date>
	<key>TPSWelcomeNotificationViewedVersion</key>
	<string>13</string>
	<key>TPSWidgetShownTips</key>
	<array>
		<string>docad6e2af5-3cf0-4990-8a75-dd1fdc0fcbef</string>
		<string>doc1f90ecb3-8eae-4636-87bd-8d6e0b8c5499</string>
	</array>
	<key>TPSWidgetUpdateDate</key>
	<date>2023-07-02T15:58:49Z</date>
</dict>
</plist>
