<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VCLSDataSequenceKey</key>
	<integer>3427</integer>
	<key>VCLSDatabaseUUIDKey</key>
	<string>5062D3D2-48EB-4317-9380-8A3B10560D9B</string>
</dict>
</plist>
