<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>enable-spring-load-actions-on-all-items</key>
	<true/>
	<key>last-analytics-stamp</key>
	<array>
		<real>709814774.78630197</real>
	</array>
	<key>loc</key>
	<string>en_US:(null)</string>
	<key>mod-count</key>
	<integer>42</integer>
	<key>mouse-over-hilite-stack</key>
	<true/>
	<key>mru-spaces</key>
	<false/>
	<key>persistent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>1093362638</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va2wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAjAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAHAAAAAQEAAExpYnJhcnkADAAA
				AAEBAABDb3JlU2VydmljZXMKAAAAAQEAAEZpbmRlci5h
				cHAAABAAAAABBgAAEAAAACAAAAAwAAAARAAAAAgAAAAE
				AwAAFQAAAP///w8IAAAABAMAAIqEAAD///8PCAAAAAQD
				AACt9wIA////DwgAAAAEAwAAshgDAP///w8QAAAAAQYA
				AHAAAACAAAAAkAAAAKAAAAAIAAAAAAQAAEHFHY1OgAAA
				GAAAAAECAAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAI
				AAAAAQkAAGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2gg
				SEQIAAAABAMAAACQgpbnAAAAJAAAAAEBAAA1MjlCOUY1
				RS0xNDA4LTRBNzQtQTI0MC03MUJEODIxNDI1OUMYAAAA
				AQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAAB
				AQAALwAAAAAAAAABBQAAqAAAAP7///8BAAAAAAAAAA0A
				AAAEEAAAWAAAAAAAAAAFEAAAsAAAAAAAAAAQEAAA2AAA
				AAAAAABAEAAAyAAAAAAAAAACIAAAeAEAAAAAAAAFIAAA
				+AAAAAAAAAAQIAAACAEAAAAAAAARIAAALAEAAAAAAAAS
				IAAAHAEAAAAAAAATIAAAyAAAAAAAAAAgIAAAWAEAAAAA
				AAAwIAAAhAEAAAAAAAAQ0AAABAAAAAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.finder</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Library/CoreServices/Finder.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Finder</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3911477762</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3Nv
				ZnQgT3V0bG9vay5hcHAAAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAAD+QwAAAAAAAAgAAAAEAwAASuYGAAAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxRrUOAAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcUdjU6AAAAk
				AAAAAQEAADUyOUI5RjVFLTE0MDgtNEE3NC1BMjQwLTcx
				QkQ4MjE0MjU5QxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.Outlook</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Outlook.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Outlook</string>
				<key>file-mod-date</key>
				<integer>208021922013954</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>167692179330883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3598710639</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABHb29nbGUg
				Q2hyb21lLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAP5DAAAAAAAACAAAAAQDAABAswQAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFI0yGAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxR2NToAAACQAAAAB
				AQAANTI5QjlGNUUtMTQwOC00QTc0LUEyNDAtNzFCRDgy
				MTQyNTlDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.google.Chrome</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Google%20Chrome.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Google Chrome</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1632563697</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zKQAAAAEBAABMSSBJbnRl
				bGxpSiBJREVBIDIwMjIuMiBBcHBsZSBTaWxpY29uLmFw
				cAAAAAgAAAABBgAAEAAAACQAAAAIAAAABAMAAP5DAAAA
				AAAACAAAAAQDAABvJggAAAAAAAgAAAABBgAAaAAAAHgA
				AAAIAAAAAAQAAEHEWjMYAAAAGAAAAAECAAACAAAAAAAA
				AA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8v
				DAAAAAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbn
				AAAACAAAAAAEAABBxR2NToAAACQAAAABAQAANTI5QjlG
				NUUtMTQwOC00QTc0LUEyNDAtNzFCRDgyMTQyNTlDGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFgAAAAAAAAABRAAAIgAAAAAAAAAEBAAAKgA
				AAAAAAAAQBAAAJgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				AMgAAAAAAAAAECAAANgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAOwAAAAAAAAAEyAAAPwAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.jetbrains.intellij</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/LI%20IntelliJ%20IDEA%202022.2%20Apple%20Silicon.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>LI IntelliJ IDEA 2022.2 Apple Silicon</string>
				<key>file-mod-date</key>
				<integer>220924003772389</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>167692179330883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3814605216</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3ACAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAkAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAADAAAAAEBAABUZXJt
				aW5hbC5hcHAQAAAAAQYAABAAAAAgAAAANAAAAEgAAAAI
				AAAABAMAABUAAAD///8PCAAAAAQDAAAXAAAA////DwgA
				AAAEAwAAWWsAAP///w8IAAAABAMAAB5/AAD///8PEAAA
				AAEGAAB0AAAAhAAAAJQAAACkAAAACAAAAAAEAABBxR2N
				ToAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAA
				AAAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50
				b3NoIEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAANTI5
				QjlGNUUtMTQwOC00QTc0LUEyNDAtNzFCRDgyMTQyNTlD
				GAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAAB
				AAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAA
				AAANAAAABBAAAFwAAAAAAAAABRAAALQAAAAAAAAAEBAA
				ANwAAAAAAAAAQBAAAMwAAAAAAAAAAiAAAHwBAAAAAAAA
				BSAAAPwAAAAAAAAAECAAAAwBAAAAAAAAESAAADABAAAA
				AAAAEiAAACABAAAAAAAAEyAAAMwAAAAAAAAAICAAAFwB
				AAAAAAAAMCAAAIgBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.Terminal</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Terminal.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Terminal</string>
				<key>file-mod-date</key>
				<integer>3769668509</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3769668509</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>1777265900</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFAAAAAEBAABJbnRlbGxp
				SiBJREVBIENFLmFwcAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAP5DAAAAAAAACAAAAAQDAAAD5BQAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFILWcAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxR2NToAAACQAAAAB
				AQAANTI5QjlGNUUtMTQwOC00QTc0LUEyNDAtNzFCRDgy
				MTQyNTlDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.jetbrains.intellij.ce</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/IntelliJ%20IDEA%20CE.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>IntelliJ IDEA CE</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2172813179</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEQAAAAEBAABJbnRlbGxp
				SiBJREVBLmFwcAAAAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAP5DAAAAAAAACAAAAAQDAAC7zxQAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFILWcAAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxR2NToAAACQAAAAB
				AQAANTI5QjlGNUUtMTQwOC00QTc0LUEyNDAtNzFCRDgy
				MTQyNTlDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.jetbrains.intellij</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/IntelliJ%20IDEA.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>IntelliJ IDEA</string>
				<key>file-mod-date</key>
				<integer>3770082360</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>167692179330883</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>3175554416</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vaywCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAATAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zCQAAAAEBAABTbGFjay5h
				cHAAAAAIAAAAAQYAABAAAAAkAAAACAAAAAQDAAD+QwAA
				AAAAAAgAAAAEAwAAhxZXAAAAAAAIAAAAAQYAAEgAAABY
				AAAACAAAAAAEAABBxR0TMIAAABgAAAABAgAAAgAAAAAA
				AAAPAAAAAAAAAAAAAAAAAAAACAAAAAEJAABmaWxlOi8v
				LwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW
				5wAAAAgAAAAABAAAQcUdjU6AAAAkAAAAAQEAADUyOUI5
				RjVFLTE0MDgtNEE3NC1BMjQwLTcxQkQ4MjE0MjU5QxgA
				AAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAA
				AAEBAAAvAAAAAAAAAAEFAACoAAAA/v///wEAAAAAAAAA
				DQAAAAQQAAA4AAAAAAAAAAUQAABoAAAAAAAAABAQAACI
				AAAAAAAAAEAQAAB4AAAAAAAAAAIgAAA4AQAAAAAAAAUg
				AACoAAAAAAAAABAgAAC4AAAAAAAAABEgAADsAAAAAAAA
				ABIgAADMAAAAAAAAABMgAADcAAAAAAAAACAgAAAYAQAA
				AAAAADAgAABEAQAAAAAAABDQAAAEAAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.tinyspeck.slackmacgap</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Slack.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Slack</string>
				<key>file-mod-date</key>
				<integer>267679017977662</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>150881677374086</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>2937560997</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va3gCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAmAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cwkAAAABAQAAVXRpbGl0aWVzAAAAFAAAAAEBAABBY3Rp
				dml0eSBNb25pdG9yLmFwcBAAAAABBgAAEAAAACAAAAA0
				AAAASAAAAAgAAAAEAwAAFQAAAP///w8IAAAABAMAABcA
				AAD///8PCAAAAAQDAABZawAA////DwgAAAAEAwAAW2sA
				AP///w8QAAAAAQYAAHwAAACMAAAAnAAAAKwAAAAIAAAA
				AAQAAEHFHY1OgAAAGAAAAAECAAACAAAAAAAAAA8AAAAA
				AAAAAAAAAAAAAAAIAAAAAQkAAGZpbGU6Ly8vDAAAAAEB
				AABNYWNpbnRvc2ggSEQIAAAABAMAAACQgpbnAAAAJAAA
				AAEBAAA1MjlCOUY1RS0xNDA4LTRBNzQtQTI0MC03MUJE
				ODIxNDI1OUMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAA
				AAAAAAAAAAEAAAABAQAALwAAAAAAAAABBQAAqAAAAP7/
				//8BAAAAAAAAAA0AAAAEEAAAZAAAAAAAAAAFEAAAvAAA
				AAAAAAAQEAAA5AAAAAAAAABAEAAA1AAAAAAAAAACIAAA
				hAEAAAAAAAAFIAAABAEAAAAAAAAQIAAAFAEAAAAAAAAR
				IAAAOAEAAAAAAAASIAAAKAEAAAAAAAATIAAA1AAAAAAA
				AAAgIAAAZAEAAAAAAAAwIAAAkAEAAAAAAAAQ0AAABAAA
				AAAAAAA=
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.ActivityMonitor</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/Utilities/Activity%20Monitor.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Activity Monitor</string>
				<key>file-mod-date</key>
				<integer>3769668509</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3769668509</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>405476865</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazQCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAVAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zEwAAAAEBAABNaWNyb3Nv
				ZnQgVGVhbXMuYXBwAAgAAAABBgAAEAAAACQAAAAIAAAA
				BAMAAP5DAAAAAAAACAAAAAQDAAAW/hQAAAAAAAgAAAAB
				BgAAUAAAAGAAAAAIAAAAAAQAAEHFHKOXgAAAGAAAAAEC
				AAACAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAAAQkA
				AGZpbGU6Ly8vDAAAAAEBAABNYWNpbnRvc2ggSEQIAAAA
				BAMAAACQgpbnAAAACAAAAAAEAABBxR2NToAAACQAAAAB
				AQAANTI5QjlGNUUtMTQwOC00QTc0LUEyNDAtNzFCRDgy
				MTQyNTlDGAAAAAECAACBAAAAAQAAAO8TAAABAAAAAAAA
				AAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAKgAAAD+////
				AQAAAAAAAAANAAAABBAAAEAAAAAAAAAABRAAAHAAAAAA
				AAAAEBAAAJAAAAAAAAAAQBAAAIAAAAAAAAAAAiAAAEAB
				AAAAAAAABSAAALAAAAAAAAAAECAAAMAAAAAAAAAAESAA
				APQAAAAAAAAAEiAAANQAAAAAAAAAEyAAAOQAAAAAAAAA
				ICAAACABAAAAAAAAMCAAAEwBAAAAAAAAENAAAAQAAAAA
				AAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.teams</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20Teams.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft Teams</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
		<dict>
			<key>GUID</key>
			<integer>256532473</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9vazgCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAWAEAAAQAAAADAwAAAAAAIAwA
				AAABAQAAQXBwbGljYXRpb25zFQAAAAEBAABNaWNyb3Nv
				ZnQgT25lTm90ZS5hcHAAAAAIAAAAAQYAABAAAAAkAAAA
				CAAAAAQDAAD+QwAAAAAAAAgAAAAEAwAAq74DAAAAAAAI
				AAAAAQYAAFQAAABkAAAACAAAAAAEAABBxRrUOAAAABgA
				AAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAACAAA
				AAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhE
				CAAAAAQDAAAAkIKW5wAAAAgAAAAABAAAQcUdjU6AAAAk
				AAAAAQEAADUyOUI5RjVFLTE0MDgtNEE3NC1BMjQwLTcx
				QkQ4MjE0MjU5QxgAAAABAgAAgQAAAAEAAADvEwAAAQAA
				AAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEFAACoAAAA
				/v///wEAAAAAAAAADQAAAAQQAABEAAAAAAAAAAUQAAB0
				AAAAAAAAABAQAACUAAAAAAAAAEAQAACEAAAAAAAAAAIg
				AABEAQAAAAAAAAUgAAC0AAAAAAAAABAgAADEAAAAAAAA
				ABEgAAD4AAAAAAAAABIgAADYAAAAAAAAABMgAADoAAAA
				AAAAACAgAAAkAQAAAAAAADAgAABQAQAAAAAAABDQAAAE
				AAAAAAAAAA==
				</data>
				<key>bundle-identifier</key>
				<string>com.microsoft.onenote.mac</string>
				<key>dock-extra</key>
				<false/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///Applications/Microsoft%20OneNote.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>Microsoft OneNote</string>
				<key>file-mod-date</key>
				<integer>0</integer>
				<key>file-type</key>
				<integer>41</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>0</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>persistent-others</key>
	<array/>
	<key>recent-apps</key>
	<array>
		<dict>
			<key>GUID</key>
			<integer>727506748</integer>
			<key>tile-data</key>
			<dict>
				<key>book</key>
				<data>
				Ym9va0wCAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAA
				AAAAAAAAAAAAAAAAAAAAbAEAAAQAAAADAwAAAAAAIAYA
				AAABAQAAU3lzdGVtAAAMAAAAAQEAAEFwcGxpY2F0aW9u
				cxMAAAABAQAAU3lzdGVtIFNldHRpbmdzLmFwcAAMAAAA
				AQYAABAAAAAgAAAANAAAAAgAAAAEAwAAFQAAAP///w8I
				AAAABAMAABcAAAD///8PCAAAAAQDAAB4WwAA////DwwA
				AAABBgAAZAAAAHQAAACEAAAACAAAAAAEAABBxR2NToAA
				ABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAAAAAAAAAA
				CAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3No
				IEhECAAAAAQDAAAAkIKW5wAAACQAAAABAQAANTI5QjlG
				NUUtMTQwOC00QTc0LUEyNDAtNzFCRDgyMTQyNTlDGAAA
				AAECAACBAAAAAQAAAO8TAAABAAAAAAAAAAAAAAABAAAA
				AQEAAC8AAAAAAAAAAQUAAKgAAAD+////AQAAAAAAAAAN
				AAAABBAAAFAAAAAAAAAABRAAAJQAAAAAAAAAEBAAALgA
				AAAAAAAAQBAAAKgAAAAAAAAAAiAAAFgBAAAAAAAABSAA
				ANgAAAAAAAAAECAAAOgAAAAAAAAAESAAAAwBAAAAAAAA
				EiAAAPwAAAAAAAAAEyAAAKgAAAAAAAAAICAAADgBAAAA
				AAAAMCAAAGQBAAAAAAAAENAAAAQAAAAAAAAA
				</data>
				<key>bundle-identifier</key>
				<string>com.apple.systempreferences</string>
				<key>dock-extra</key>
				<true/>
				<key>file-data</key>
				<dict>
					<key>_CFURLString</key>
					<string>file:///System/Applications/System%20Settings.app/</string>
					<key>_CFURLStringType</key>
					<integer>15</integer>
				</dict>
				<key>file-label</key>
				<string>System Settings</string>
				<key>file-mod-date</key>
				<integer>3769668509</integer>
				<key>file-type</key>
				<integer>1</integer>
				<key>is-beta</key>
				<false/>
				<key>parent-mod-date</key>
				<integer>3769668509</integer>
			</dict>
			<key>tile-type</key>
			<string>file-tile</string>
		</dict>
	</array>
	<key>region</key>
	<string>US</string>
	<key>show-process-indicators</key>
	<true/>
	<key>tilesize</key>
	<integer>36</integer>
	<key>trash-full</key>
	<false/>
	<key>version</key>
	<integer>1</integer>
	<key>wvous-br-corner</key>
	<integer>0</integer>
	<key>wvous-br-modifier</key>
	<integer>1048576</integer>
</dict>
</plist>
