<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DateFormat</key>
	<string>EEE MMM d 'at'  HH:mm:ss</string>
	<key>FlashDateSeparators</key>
	<false/>
	<key>IsAnalog</key>
	<false/>
	<key>ShowDate</key>
	<integer>1</integer>
	<key>ShowDayOfWeek</key>
	<true/>
	<key>ShowSeconds</key>
	<true/>
</dict>
</plist>
