<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>library-bookmark</key>
	<data>
	Ym9va8ADAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAvAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGNjYXJpbmkABgAAAAEBAABNb3ZpZXMAAAIA
	AAABAQAAVFYAABQAAAABAQAAVFYgTGlicmFyeS50dmxpYnJhcnkUAAAAAQYAAAQAAAAU
	AAAAJAAAADQAAABAAAAACAAAAAQDAAD6QwAAAAAAAAgAAAAEAwAAfKoCAAAAAAAIAAAA
	BAMAAKuqAgAAAAAACAAAAAQDAACpo0cAAAAAAAgAAAAEAwAAqqNHAAAAAAAUAAAAAQYA
	AHgAAACIAAAAmAAAAKgAAAC4AAAACAAAAAAEAABBxSjra4AAABgAAAABAgAAAgAAAAAA
	AAAPAAAAAAAAAAAAAAAAAAAACAAAAAQDAAADAAAAAAAAAAQAAAADAwAATj0AAAgAAAAB
	CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAAAJCClucAAAAIAAAA
	AAQAAEHFHY1OgAAAJAAAAAEBAAA1MjlCOUY1RS0xNDA4LTRBNzQtQTI0MC03MUJEODIx
	NDI1OUMYAAAAAQIAAIEAAAABAAAA7xMAAAEAAAAAAAAAAAAAAAEAAAABAQAALwAAAAAA
	AAABBQAA3wAAAAECAAA4NGJmYWQ2YTljMGJjNDExMzc0NGFkODIxNDhkMWQ5ZDI5ZGU4
	MzIxOTk5MjM5MTk3YzY1N2IwZDM2NjBmNzczOzAwOzAwMDAwMDAwOzAwMDAwMDAwOzAw
	MDAwMDAwOzAwMDAwMDAwMDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQt
	d3JpdGU7MDE7MDEwMDAwMGU7MDAwMDAwMDAwMDQ3YTNhYTswMTsvdXNlcnMvY2Nhcmlu
	aS9tb3ZpZXMvdHYvdHYgbGlicmFyeS50dmxpYnJhcnkAAMwAAAD+////AQAAAAAAAAAQ
	AAAABBAAAFwAAAAAAAAABRAAAMgAAAAAAAAAEBAAAPQAAAAAAAAAQBAAAOQAAAAAAAAA
	AiAAAMABAAAAAAAABSAAADABAAAAAAAAECAAAEABAAAAAAAAESAAAHQBAAAAAAAAEiAA
	AFQBAAAAAAAAEyAAAGQBAAAAAAAAICAAAKABAAAAAAAAMCAAAMwBAAAAAAAAAcAAABQB
	AAAAAAAAEcAAABQAAAAAAAAAEsAAACQBAAAAAAAAgPAAANQBAAAAAAAA
	</data>
	<key>library-url</key>
	<string>file:///Users/ccarini/Movies/TV/TV%20Library.tvlibrary/</string>
	<key>media-folder-bookmark</key>
	<data>
	Ym9va7gDAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAtAIA
	AAUAAAABAQAAVXNlcnMAAAAHAAAAAQEAAGNjYXJpbmkABgAAAAEBAABNb3ZpZXMAAAIA
	AAABAQAAVFYAAA8AAAABAQAATWVkaWEubG9jYWxpemVkABQAAAABBgAABAAAABQAAAAk
	AAAANAAAAEAAAAAIAAAABAMAAPpDAAAAAAAACAAAAAQDAAB8qgIAAAAAAAgAAAAEAwAA
	q6oCAAAAAAAIAAAABAMAAKmjRwAAAAAACAAAAAQDAACro0cAAAAAABQAAAABBgAAdAAA
	AIQAAACUAAAApAAAALQAAAAIAAAAAAQAAEHFKOtr6KWiGAAAAAECAAACAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAMAAAAAAAAABAAAAAMDAABOPQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAkIKW5wAAAAgAAAAABAAA
	QcUdjU6AAAAkAAAAAQEAADUyOUI5RjVFLTE0MDgtNEE3NC1BMjQwLTcxQkQ4MjE0MjU5
	QxgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADaAAAAAQIAADI4ZmU1ZTA0OTU0ZmM0NDgwYmVmMzU4N2VhNjk5OTc3NzA4Y2E1ZTMx
	ODBjMWIzMjBiMjg1NjEwZDU5NWU0YTM7MDA7MDAwMDAwMDA7MDAwMDAwMDA7MDAwMDAw
	MDA7MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gucmVhZC13cml0
	ZTswMTswMTAwMDAwZTswMDAwMDAwMDAwNDdhM2FiOzAxOy91c2Vycy9jY2FyaW5pL21v
	dmllcy90di9tZWRpYS5sb2NhbGl6ZWQAAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABY
	AAAAAAAAAAUQAADEAAAAAAAAABAQAADwAAAAAAAAAEAQAADgAAAAAAAAAAIgAAC8AQAA
	AAAAAAUgAAAsAQAAAAAAABAgAAA8AQAAAAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAA
	ABMgAABgAQAAAAAAACAgAACcAQAAAAAAADAgAADIAQAAAAAAAAHAAAAQAQAAAAAAABHA
	AAAUAAAAAAAAABLAAAAgAQAAAAAAAIDwAADQAQAAAAAAAA==
	</data>
	<key>media-folder-url</key>
	<string>file:///Users/ccarini/Movies/TV/Media.localized/</string>
</dict>
</plist>
