<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MetadataSyncState</key>
	<dict>
		<key>AttemptCount</key>
		<integer>0</integer>
		<key>BuildVersion</key>
		<string>Version 13.4.1 (Build 22F82)</string>
		<key>Date</key>
		<date>2023-07-03T12:31:40Z</date>
		<key>Status</key>
		<integer>2</integer>
	</dict>
</dict>
</plist>
