<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PARDefaultsVersion</key>
	<integer>4</integer>
	<key>PARTestSeed</key>
	<integer>53</integer>
	<key>PARTestSeedExpiration</key>
	<date>2023-07-03T19:31:10Z</date>
	<key>download_resources</key>
	<dict>
		<key>autofill_tld_whitelist_url</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/autofill_tld_whitelist_url?version=d82910c408523dcb3cfb020124f6e8b9</string>
		</dict>
		<key>correction_dict_url</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/static_corrections_dict/20200930/static_corrections_dict.json?version=20200930</string>
		</dict>
		<key>crowdsourcing_blacklist_url</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/crowdsourcing_blacklist_url?version=2ca06afd0850f1f42695f6b6928dc0f4</string>
		</dict>
		<key>crowdsourcing_whitelist_url</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/crowdsourcing_whitelist_url?version=032857ed01170d11e723650d446758bd</string>
		</dict>
		<key>dictionary_resources_url</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/dictionary_resources_url?version=d4546b111e90a1d7005fa43d34bd2f7b</string>
		</dict>
		<key>installed_app_whitelist_url</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/installed_app_whitelist_url?version=d952ed940d15e278436dce7b92f002bd</string>
		</dict>
		<key>silhouette_config</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/silhouette_config/5/silhouette_config?version=5</string>
		</dict>
		<key>silhouette_topic_mapping</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/silhouette_topic_mapping/5/silhouette_topic_mapping?version=5</string>
		</dict>
		<key>silhouette_whitelisted_topics</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/silhouette_whitelisted_topics/5/silhouette_whitelisted_topics?version=5</string>
		</dict>
		<key>spotlight_model_resources</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/spotlight_model_resources/2/spotlight_ml.mpak?version=2</string>
		</dict>
		<key>spotlight_phrase_dictionary.map</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/spotlight_suggestions_phrase_dictionary/4/phrase-dictionary-en-US.map?version=4</string>
		</dict>
		<key>spotlight_stopword.map</key>
		<dict>
			<key>url</key>
			<string>https://cdn.smoot.apple.com/static/spotlight_suggestions_stopwords/4/stopwords-en.map?version=4</string>
		</dict>
	</dict>
</dict>
</plist>
