<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>countdown</key>
	<false/>
	<key>description</key>
	<string>Just a moment while we set up your desktop...</string>
	<key>fullScreenIcon</key>
	<false/>
</dict>
</plist>
