<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedVCCaps</key>
	<integer>17592188010496</integer>
	<key>kLastIDSFirewallVersionDefaultsKey</key>
	<integer>1</integer>
	<key>registeredProvidersVersion</key>
	<integer>1</integer>
	<key>thumperCallingCapabilitiesStates</key>
	<array/>
</dict>
</plist>
