<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.appstore:713</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBQLDD4/QEFCQ0RJT1BWWV1h
	YmNkZVUkbnVsbN8QGQ0ODxAREhMUFRYXGBkaGxwdHh8gISIjJCUmJygpKissJi4vMCYy
	MzQ1MDc4MzkwOzApWF9hcHBQYXRoXxAVX3N0b3JlU2VjdXJlVVJMU2NoZW1lXxAPX3N0
	b3JlVVJMU2NoZW1lWV9pc0RhZW1vbl5fdG9vbGJhckJhZ0tleV8QF19hZ2VudFByZWZl
	cmVuY2VzRG9tYWluXxARX2ZyYW1ld29ya1ZlcnNpb25VX2RhYXBUX3BpZFtfY2xpZW50
	VHlwZVpfYXNsRG9tYWluXxAQX2Rpc3BsYXlVSUhvc3RJRF8QFF91c2VyQWdlbnRBcHBW
	ZXJzaW9uXl9tZWRpYVR5cGVNYXNrXxASX2FnZW50TGlzdGVuZXJOYW1lViRjbGFzc18Q
	FV9hcHBQcmVmZXJlbmNlc0RvbWFpbl8QEV9zdG9yZUZyb250QmFnS2V5XxAPX3NhbmRi
	b3hCYWdVUkxzXxAQX3JlcXVpcmVkQmFnVHlwZV8QEV91c2VyQWdlbnRBcHBOYW1lW19p
	ZGVudGlmaWVyXxASX3Byb2R1Y3Rpb25CYWdVUkxzXxAZX3RlbXBQYXRoQ2xpZW50SWRl
	bnRpZmllcl8QHV9fYWx3YXlzVXNlU2FuZGJveEVudmlyb25tZW50gACAEoARCIAQgAQR
	AsmAABFofxAAgAKAAIAGEAGAA4ATgAKAB4ANgAWAAoAIgAIIXxASY29tLmFwcGxlLmFw
	cHN0b3JlXxAYY29tLmFwcGxlLnN0b3JlYWdlbnQteHBjXxASY29tLmFwcGxlLmNvbW1l
	cmNlW01hY0FwcFN0b3JlUzMuMFpzdG9yZUZyb2500kUcRkhaTlMub2JqZWN0c6FHgAmA
	DNNKHEsmTU5XTlMuYmFzZVtOUy5yZWxhdGl2ZYAAgAuACl8QKmh0dHBzOi8vaW5pdC5p
	dHVuZXMuYXBwbGUuY29tL2JhZy54bWw/aXg9NdJRUlNUWiRjbGFzc25hbWVYJGNsYXNz
	ZXNVTlNVUkyiU1VYTlNPYmplY3TSUVJXWFdOU0FycmF5oldV0kUcWkihW4AOgAzTShxL
	Jk1ggACAC4APXxAtaHR0cHM6Ly9zYW5kYm94Lml0dW5lcy5hcHBsZS5jb20vYmFnLnht
	bD9peD01WmRhLXRvb2xiYXJbbWFjYXBwc3RvcmVcbWFjYXBwc3RvcmVz0lFSZmddSVNT
	dG9yZUNsaWVudKJmVQAIABEAGgAkACkAMgA3AEkATABRAFMAagBwAKUArgDGANgA4gDx
	AQsBHwElASoBNgFBAVQBawF6AY8BlgGuAcIB1AHnAfsCBwIcAjgCWAJaAlwCXgJfAmEC
	YwJmAmgCawJtAm8CcQJzAnUCdwJ5AnsCfQJ/AoECgwKFAocCiAKdArgCzQLZAt0C6ALt
	AvgC+gL8Av4DBQMNAxkDGwMdAx8DTANRA1wDZQNrA24DdwN8A4QDhwOMA44DkAOSA5kD
	mwOdA58DzwPaA+YD8wP4BAYAAAAAAAACAQAAAAAAAABoAAAAAAAAAAAAAAAAAAAECQ==
	</data>
</dict>
</plist>
