<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>home-sharing-computer-id</key>
	<string></string>
	<key>home-sharing-enabled</key>
	<integer>0</integer>
	<key>home-sharing-group-id</key>
	<string></string>
	<key>home-sharing-sequence-id</key>
	<integer>100</integer>
	<key>home-sharing-settings</key>
	<dict>
		<key>home-sharing-update-play-counts</key>
		<false/>
		<key>home-sharing-user-id</key>
		<integer>0</integer>
		<key>home-sharing-user-name</key>
		<string></string>
	</dict>
	<key>photo-sharing-enabled</key>
	<integer>0</integer>
	<key>photo-sharing-settings</key>
	<dict>
		<key>apertureAlbums</key>
		<array/>
		<key>apertureCopyOriginalPhotos</key>
		<false/>
		<key>apertureCustomAlbumOrder</key>
		<integer>0</integer>
		<key>apertureSyncAllAlbums</key>
		<false/>
		<key>apertureSyncAllFaces</key>
		<false/>
		<key>apertureSyncMode</key>
		<integer>0</integer>
		<key>apertureSyncPhotoVideos</key>
		<false/>
		<key>iPhotoAlbums</key>
		<array/>
		<key>iPhotoCopyOriginalPhotos</key>
		<false/>
		<key>iPhotoCustomAlbumOrder</key>
		<integer>0</integer>
		<key>iPhotoPrefsMajorVersion</key>
		<integer>0</integer>
		<key>iPhotoPrefsMinorVersion</key>
		<integer>0</integer>
		<key>iPhotoSyncAllAlbums</key>
		<false/>
		<key>iPhotoSyncAllFaces</key>
		<false/>
		<key>iPhotoSyncMode</key>
		<integer>0</integer>
		<key>iPhotoSyncPhotoVideos</key>
		<false/>
		<key>iPhotoUpgradedDistinguishedAlbums</key>
		<false/>
		<key>photo-sharing-source-id</key>
		<integer>0</integer>
		<key>photosAppAlbums</key>
		<array/>
		<key>photosAppAutoIncludeEnabled</key>
		<false/>
		<key>photosAppCopyOriginalPhotos</key>
		<false/>
		<key>photosAppCustomAlbumOrder</key>
		<integer>0</integer>
		<key>photosAppEventCount</key>
		<integer>255</integer>
		<key>photosAppOnlyFavorites</key>
		<false/>
		<key>photosAppSyncAllAlbums</key>
		<false/>
		<key>photosAppSyncAllFaces</key>
		<false/>
		<key>photosAppSyncMode</key>
		<integer>0</integer>
		<key>photosAppSyncPhotoVideos</key>
		<false/>
		<key>photosFolderAlbums</key>
		<array/>
		<key>photosFolderCopyOriginalPhotos</key>
		<false/>
		<key>photosFolderCustomAlbumOrder</key>
		<integer>0</integer>
		<key>photosFolderInfo</key>
		<dict>
			<key>syncFolderIsFromMac</key>
			<false/>
			<key>syncFolderIsValid</key>
			<false/>
		</dict>
		<key>photosFolderSyncMode</key>
		<integer>0</integer>
		<key>photosFolderSyncPhotoVideos</key>
		<false/>
		<key>psAlbumAlbums</key>
		<array/>
		<key>psAlbumCopyOriginalPhotos</key>
		<false/>
		<key>psAlbumCustomAlbumOrder</key>
		<integer>0</integer>
		<key>psAlbumSyncMode</key>
		<integer>0</integer>
		<key>psAlbumSyncPhotoVideos</key>
		<false/>
		<key>psElementsAlbums</key>
		<array/>
		<key>psElementsCopyOriginalPhotos</key>
		<false/>
		<key>psElementsCustomAlbumOrder</key>
		<integer>0</integer>
		<key>psElementsSyncMode</key>
		<integer>0</integer>
		<key>psElementsSyncPhotoVideos</key>
		<false/>
	</dict>
	<key>public-sharing-enabled</key>
	<integer>0</integer>
	<key>public-sharing-is-protected</key>
	<integer>0</integer>
	<key>public-sharing-settings</key>
	<dict>
		<key>public-sharing-share-all-playlists</key>
		<false/>
	</dict>
	<key>shared-library-id</key>
	<integer>-3430752325784998086</integer>
	<key>shared-library-machine-id</key>
	<integer>-8525617855562117119</integer>
	<key>shared-library-name</key>
	<string>Chris Carini’s Library</string>
</dict>
</plist>
