<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSUIHaveCenteredGatekeeperProgressWindow</key>
	<true/>
	<key>NSWindow Frame CSUIGatekeeperProgressWindow</key>
	<string>664 778 400 70 0 0 1728 1079 </string>
</dict>
</plist>
