<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FCAppConfigurationBundleShortVersionKey</key>
	<string>8.4</string>
	<key>first_widget_refresh_date</key>
	<date>2023-06-30T10:46:09Z</date>
	<key>marker</key>
	<false/>
</dict>
</plist>
