<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstalledAssets</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<array/>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<array/>
		<key>com.apple.MobileAsset.MacinTalkVoiceAssets</key>
		<array/>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<array>
			<dict>
				<key>AssetID</key>
				<string>a3157bd1b27e40df63d7e198b1d49ca052ceb603</string>
				<key>AssetType</key>
				<string>com.apple.MobileAsset.TTSAXResourceModelAssets</string>
				<key>CompatibilityVersion</key>
				<integer>1</integer>
				<key>ContentVersion</key>
				<integer>7</integer>
				<key>DownloadSize</key>
				<integer>70026419</integer>
				<key>FormatVersion</key>
				<integer>1</integer>
				<key>UnarchivedSize</key>
				<integer>92595200</integer>
				<key>UserInfo</key>
				<dict>
					<key>Build</key>
					<string>10M4082</string>
					<key>Sample</key>
					<true/>
					<key>_CompatibilityVersion</key>
					<integer>1</integer>
					<key>_CompressionAlgorithm</key>
					<string>zip</string>
					<key>_ContentVersion</key>
					<integer>7</integer>
					<key>_DownloadSize</key>
					<integer>70026419</integer>
					<key>_IsZipStreamable</key>
					<true/>
					<key>_MasteredVersion</key>
					<string>4082</string>
					<key>_Measurement</key>
					<data>
					+ITt7fKLv6SKCayeYO8bPd22C+Q=
					</data>
					<key>_MeasurementAlgorithm</key>
					<string>SHA-1</string>
					<key>_UnarchivedSize</key>
					<integer>92595200</integer>
					<key>__AssetDefaultGarbageCollectionBehavior</key>
					<string>NeverCollected</string>
					<key>__BaseURL</key>
					<string>https://updates.cdn-apple.com/2023/mobileassets/032-87454/8ED610EB-DDA7-435F-846C-2C7B05CA8BBB/</string>
					<key>__CanUseLocalCacheServer</key>
					<true/>
					<key>__RelativePath</key>
					<string>com_apple_MobileAsset_TTSAXResourceModelAssets/a3157bd1b27e40df63d7e198b1d49ca052ceb603.zip</string>
				</dict>
			</dict>
		</array>
		<key>com.apple.MobileAsset.VoiceServices.CombinedVocalizerVoices</key>
		<array/>
	</dict>
	<key>RefreshEvents</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<array>
			<date>2023-07-02T15:28:47Z</date>
		</array>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<array>
			<date>2023-07-01T22:17:42Z</date>
			<date>2023-07-02T15:28:15Z</date>
			<date>2023-07-03T03:38:16Z</date>
		</array>
	</dict>
	<key>UserInfo</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2023-07-02T15:28:47Z</date>
				<key>LastExitStatus</key>
				<string>Failed</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2023-07-03T03:38:17Z</date>
				<key>LastExitStatus</key>
				<string>Success</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
		<key>com.apple.MobileAsset.TTSAXResourceModelAssets</key>
		<dict>
			<key>ComponentChangeTaskSuccessful</key>
			<date>2023-07-03T17:13:15Z</date>
			<key>RefreshSSEVoicesForBundlePrefixTaskSuccessful</key>
			<date>2023-07-03T12:19:45Z</date>
			<key>SystemBootTime</key>
			<date>2023-06-30T10:17:47Z</date>
			<key>UpdateResourcesTaskSuccessful</key>
			<date>2023-07-03T17:13:15Z</date>
			<key>UpdateSiriVoicesTaskSuccessful</key>
			<date>2023-07-03T12:19:44Z</date>
		</dict>
	</dict>
</dict>
</plist>
