<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Column Width</key>
	<dict>
		<key>CPU</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>195</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Disk</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>540</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Memory</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>535</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
		<key>Power</key>
		<dict>
			<key>12HRPower</key>
			<real>80</real>
			<key>AppSleep</key>
			<real>70</real>
			<key>Architecture</key>
			<real>88</real>
			<key>AveragePowerScore</key>
			<real>120</real>
			<key>CPUTime</key>
			<real>70</real>
			<key>CPUUsage</key>
			<real>75</real>
			<key>Command</key>
			<real>498</real>
			<key>GPUTime</key>
			<real>75</real>
			<key>GPUUsage</key>
			<real>75</real>
			<key>IdleWakeUps</key>
			<real>98</real>
			<key>InstantOff</key>
			<real>86</real>
			<key>PID</key>
			<real>40</real>
			<key>Ports</key>
			<real>48</real>
			<key>PowerScore</key>
			<real>100</real>
			<key>Private</key>
			<real>88</real>
			<key>PurgeableMem</key>
			<real>104</real>
			<key>ResidentSize</key>
			<real>72</real>
			<key>Sandbox</key>
			<real>58</real>
			<key>Shared</key>
			<real>88</real>
			<key>Threads</key>
			<real>60</real>
			<key>UID</key>
			<real>80</real>
			<key>anonymousMemory</key>
			<real>64</real>
			<key>bytesRead</key>
			<real>92</real>
			<key>bytesWritten</key>
			<real>92</real>
			<key>compressedMemory</key>
			<real>110</real>
			<key>powerAssertion</key>
			<real>96</real>
			<key>restricted</key>
			<real>96</real>
			<key>rxBytes</key>
			<real>70</real>
			<key>rxPackets</key>
			<real>80</real>
			<key>txBytes</key>
			<real>80</real>
			<key>txPackets</key>
			<real>80</real>
		</dict>
	</dict>
	<key>DisplayType</key>
	<integer>0</integer>
	<key>IconType</key>
	<integer>6</integer>
	<key>NSTableView Columns v3 cacheTableColumns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxAUCwwWISIjJCUmJy03ODlD
	RE5PWVpVJG51bGzSDQ4PFVpOUy5vYmplY3RzViRjbGFzc6UQERITFIACgAqADYAPgBGA
	E9MXDQ4YHCBXTlMua2V5c6MZGhuAA4AEgAWjHR4fgAaAB4AIgAlaSWRlbnRpZmllclVX
	aWR0aFZIaWRkZW5fECBBdXRvbWF0aWNUYWJsZUNvbHVtbklkZW50aWZpZXIuMCNAdoAA
	AAAAAAjSKCkqK1okY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIqLFhOU09i
	amVjdNMXDQ4uMiCjGRobgAOABIAFozM0H4ALgAyACIAJXxAgQXV0b21hdGljVGFibGVD
	b2x1bW5JZGVudGlmaWVyLjEjQFkAAAAAAADTFw0OOj4goxkaG4ADgASABaM/NB+ADoAM
	gAiACV8QIEF1dG9tYXRpY1RhYmxlQ29sdW1uSWRlbnRpZmllci4y0xcNDkVJIKMZGhuA
	A4AEgAWjSjQfgBCADIAIgAlfECBBdXRvbWF0aWNUYWJsZUNvbHVtbklkZW50aWZpZXIu
	M9MXDQ5QVCCjGRobgAOABIAFo1U0H4ASgAyACIAJXxAgQXV0b21hdGljVGFibGVDb2x1
	bW5JZGVudGlmaWVyLjTSKClbXF5OU011dGFibGVBcnJheaNbXSxXTlNBcnJheQAIABEA
	GgAkACkAMgA3AEkATABSAFQAawBxAHYAgQCIAI4AkACSAJQAlgCYAJoAoQCpAK0ArwCx
	ALMAtwC5ALsAvQC/AMoA0ADXAPoBAwEEAQkBFAEdASoBLQE2AT0BQQFDAUUBRwFLAU0B
	TwFRAVMBdgF/AYYBigGMAY4BkAGUAZYBmAGaAZwBvwHGAcoBzAHOAdAB1AHWAdgB2gHc
	Af8CBgIKAgwCDgIQAhQCFgIYAhoCHAI/AkQCUwJXAAAAAAAAAgEAAAAAAAAAXgAAAAAA
	AAAAAAAAAAAAAl8=
	</data>
	<key>NSTableView Sort Ordering v2 cacheTableColumns</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABqQsMEhscHR4fJVUkbnVsbNIN
	Dg8RWk5TLm9iamVjdHNWJGNsYXNzoRCAAoAI0xMNDhQXGldOUy5rZXlzohUWgAOABKIY
	GYAFgAaAB1pJZGVudGlmaWVyWUFzY2VuZGluZ18QIEF1dG9tYXRpY1RhYmxlQ29sdW1u
	SWRlbnRpZmllci4zCNIgISIjWiRjbGFzc25hbWVYJGNsYXNzZXNcTlNEaWN0aW9uYXJ5
	oiIkWE5TT2JqZWN00iAhJideTlNNdXRhYmxlQXJyYXmjJigkV05TQXJyYXkACAARABoA
	JAApADIANwBJAEwAUgBUAF4AZABpAHQAewB9AH8AgQCIAJAAkwCVAJcAmgCcAJ4AoACr
	ALUA2ADZAN4A6QDyAP8BAgELARABHwEjAAAAAAAAAgEAAAAAAAAAKQAAAAAAAAAAAAAA
	AAAAASs=
	</data>
	<key>NSTableView Supports v2 cacheTableColumns</key>
	<true/>
	<key>NSWindow Frame ProcessInspector</key>
	<string>548 134 913 349 0 0 1728 1079 </string>
	<key>NSWindow Frame SMSampleDocument</key>
	<string>0 56 1728 1023 0 0 1728 1079 </string>
	<key>NSWindow Frame main window</key>
	<string>384 220 960 640 0 0 1728 1079 </string>
	<key>OpenMainWindow</key>
	<true/>
	<key>SelectedTab</key>
	<integer>0</integer>
	<key>ShowCategory</key>
	<integer>100</integer>
	<key>ShowCategoryAppsinLast12Hours</key>
	<true/>
	<key>SortColumn</key>
	<string>CPUUsage</string>
	<key>SortDirection</key>
	<integer>0</integer>
	<key>UpdatePeriod</key>
	<integer>2</integer>
	<key>cacheTableSortDescriptors</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGnCwwSHB0eJFUkbnVsbNINDg8R
	Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoAG1RMOFBUWFxgZGRtaTlNTZWxlY3Rvcl8QEk5T
	UmV2ZXJzZU51bGxPcmRlcltOU0FzY2VuZGluZ1VOU0tleYAEgAUICIADXWxhc3RXZWVr
	Qnl0ZXNYY29tcGFyZTrSHyAhIlokY2xhc3NuYW1lWCRjbGFzc2VzXxAQTlNTb3J0RGVz
	Y3JpcHRvcqIhI1hOU09iamVjdNIfICUmV05TQXJyYXmiJSMACAARABoAJAApADIANwBJ
	AEwAUQBTAFsAYQBmAHEAeAB6AHwAfgCJAJQAqQC1ALsAvQC/AMAAwQDDANEA2gDfAOoA
	8wEGAQkBEgEXAR8AAAAAAAACAQAAAAAAAAAnAAAAAAAAAAAAAAAAAAABIg==
	</data>
</dict>
</plist>
