<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CacheCertificate</key>
	<array>
		<data>
		MIIGwTCCBamgAwIBAgIQXQGgiHqZtRMTOIJn0JYfsjANBgkqhkiG9w0BAQsF
		ADCBujELMAkGA1UEBhMCVVMxFjAUBgNVBAoTDUVudHJ1c3QsIEluYy4xKDAm
		BgNVBAsTH1NlZSB3d3cuZW50cnVzdC5uZXQvbGVnYWwtdGVybXMxOTA3BgNV
		BAsTMChjKSAyMDEyIEVudHJ1c3QsIEluYy4gLSBmb3IgYXV0aG9yaXplZCB1
		c2Ugb25seTEuMCwGA1UEAxMlRW50cnVzdCBDZXJ0aWZpY2F0aW9uIEF1dGhv
		cml0eSAtIEwxSzAeFw0yMzA0MTkwMDIwNTlaFw0yNDA0MTkwMDIwNTlaMGox
		CzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpDYWxpZm9ybmlhMRIwEAYDVQQHEwlD
		dXBlcnRpbm8xEzARBgNVBAoTCkFwcGxlIEluYy4xHTAbBgNVBAMTFGluaXQt
		cDAxbWQuYXBwbGUuY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKC
		AQEAq7QJm8fgVJ5G0pX6Jw9eC0ErG1gzFIotygDz16lZAEjwikFC4P627LqU
		2q39nWoN56yZnPQAeFzhmoAgLROE8o+f3zPPGOWE46+fahE9LlyJt2RUfHoA
		y+BZuRI9HrAQXSbLdjwyFO4JOXf0qM+LHprTBMT6wj7dRV2GlPGMj/laMS/G
		QYwq+wfkIQH+6Z0Cr7mwEmp1eDgc8y66ST55gMh2HCUi1Yon6/w4bb0479q9
		W4a8eC344jrBEAD2u2+PE219cjOkUGR0gN7M9OM2V5PkPhYBncOsx4aRt/Xq
		SIVFai+KOQNbdNnf7k1xpcod/sBBHpLCGPlfg/GWz2WJZQIDAQABo4IDEDCC
		AwwwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUKYD6PyEK0TvyaLqf6c+Y3kCF
		4s0wHwYDVR0jBBgwFoAUgqJwdN28Uz/Pe9T3zX+nYMYKTL8waAYIKwYBBQUH
		AQEEXDBaMCMGCCsGAQUFBzABhhdodHRwOi8vb2NzcC5lbnRydXN0Lm5ldDAz
		BggrBgEFBQcwAoYnaHR0cDovL2FpYS5lbnRydXN0Lm5ldC9sMWstY2hhaW4y
		NTYuY2VyMDMGA1UdHwQsMCowKKAmoCSGImh0dHA6Ly9jcmwuZW50cnVzdC5u
		ZXQvbGV2ZWwxay5jcmwwHwYDVR0RBBgwFoIUaW5pdC1wMDFtZC5hcHBsZS5j
		b20wDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggrBgEF
		BQcDAjBMBgNVHSAERTBDMDcGCmCGSAGG+mwKAQUwKTAnBggrBgEFBQcCARYb
		aHR0cHM6Ly93d3cuZW50cnVzdC5uZXQvcnBhMAgGBmeBDAECAjCCAX0GCisG
		AQQB1nkCBAIEggFtBIIBaQFnAHYA7s3QZNXbGs7FXLedtM0TojKHRny87N7D
		UUhZRnEftZsAAAGHluLPLQAABAMARzBFAiEAvZNAOl4kwvFJPSjgK8SJRhJa
		RNaM1HAlAcl+iHzVuFoCIBjYDqWVF+2q037NVLm6Ekq1sYX9fwqifqLTpnbz
		YG52AHYAO1N3dT4tuYBOizBbBv5AO2fYT8P0x70ADS1yb+H61BcAAAGHluLP
		ZQAABAMARzBFAiAVVBe96zKI3x/MGbzX9PtIbmTQ8lY/mFkF9kVuRwue0AIh
		AJBBrcGDjG3V2ChnbOmlD/Nn8R+I5nNANDlVhxFChBwOAHUA2ra/az+1tiKf
		m8K7XGvocJFxbLtRhIU0vaQ9MEjX+6sAAAGHluLPbgAABAMARjBEAiAVRGfe
		TLP6MCTce5BgPTDGwySzRC50BoxRVioCdftZDQIgdtIly2u8B+j1gMOdxg31
		MJg6fr8+r2pBf+CIuMHebHwwDQYJKoZIhvcNAQELBQADggEBAHXwvR1Irxd4
		k1RW8XTLQh3euRxmRXtB+W5ncE1FRIee0IkQtAlHA8SDVi9Hkbc4x2oi+HJ2
		ukH5kaqLfERiPqcr/mtGknh/haGJM51LKkUZKm7KZ0RMFmkA+LyzTf0Sjg/7
		KYf79yzP67V+k7U7I526AyyizmKZVYomp/h1x5cps/j/2B7Q8NfEvG+IZavB
		KZ3Q1NuYffTfMUz6Pu2NO3pYACdEICIYLE6aqBx8iJUSQS5ITto+ayt6jguY
		DnJYUFWuokCtuDSC+GqEQtd1IzAntugbQh73NpbL9eU0AHLqkpbS6DVz9JDk
		wyWTtYHFzfm+5InwqSnypsNjex4H5K8=
		</data>
		<data>
		MIIE/jCCA+agAwIBAgIEUc4A/jANBgkqhkiG9w0BAQsFADCBtDEUMBIGA1UE
		ChMLRW50cnVzdC5uZXQxQDA+BgNVBAsUN3d3dy5lbnRydXN0Lm5ldC9DUFNf
		MjA0OCBpbmNvcnAuIGJ5IHJlZi4gKGxpbWl0cyBsaWFiLikxJTAjBgNVBAsT
		HChjKSAxOTk5IEVudHJ1c3QubmV0IExpbWl0ZWQxMzAxBgNVBAMTKkVudHJ1
		c3QubmV0IENlcnRpZmljYXRpb24gQXV0aG9yaXR5ICgyMDQ4KTAeFw0xNDEw
		MTAxNTIzMTdaFw0yNDEwMTEwNjIyNDdaMIG6MQswCQYDVQQGEwJVUzEWMBQG
		A1UEChMNRW50cnVzdCwgSW5jLjEoMCYGA1UECxMfU2VlIHd3dy5lbnRydXN0
		Lm5ldC9sZWdhbC10ZXJtczE5MDcGA1UECxMwKGMpIDIwMTIgRW50cnVzdCwg
		SW5jLiAtIGZvciBhdXRob3JpemVkIHVzZSBvbmx5MS4wLAYDVQQDEyVFbnRy
		dXN0IENlcnRpZmljYXRpb24gQXV0aG9yaXR5IC0gTDFLMIIBIjANBgkqhkiG
		9w0BAQEFAAOCAQ8AMIIBCgKCAQEA2j+W0E25L0Tn2zlem1DuXKVh2kFnUwmq
		AJqOV38pa9vH4SEkqjrQjUcj0u1yFvCRIdJdt7hLqIOPt5EyaM/OJZMssn2X
		yP7BtBe6CZ4DkJN7fEmDImiKm95HwzGYei59QAvS7z7Tsoyqj0ip/wDoKVgG
		97aTWpRzJiatWA7lQrjV6nN5ZGhTJbiEz5R6rgZFDKNrTdDGvuoYpDbwkrK6
		HIiPOlJ/915tgxyd8B/lw9bdpXiSPbBtLOrJz5RBGXFEaLpHPATpXbo+8DX3
		Fbae8i4VHj9HyMg4p3NFXU2wO7GOFyk36t0FASK7lDYqjVs1/lMZLwhGwSqz
		GmIdTivZGwIDAQABo4IBDjCCAQowDgYDVR0PAQH/BAQDAgEGMBIGA1UdEwEB
		/wQIMAYBAf8CAQAwMwYIKwYBBQUHAQEEJzAlMCMGCCsGAQUFBzABhhdodHRw
		Oi8vb2NzcC5lbnRydXN0Lm5ldDAyBgNVHR8EKzApMCegJaAjhiFodHRwOi8v
		Y3JsLmVudHJ1c3QubmV0LzIwNDhjYS5jcmwwOwYDVR0gBDQwMjAwBgRVHSAA
		MCgwJgYIKwYBBQUHAgEWGmh0dHA6Ly93d3cuZW50cnVzdC5uZXQvcnBhMB0G
		A1UdDgQWBBSConB03bxTP8971PfNf6dgxgpMvzAfBgNVHSMEGDAWgBRV5IHR
		EYC+2Im5CKMx+aEkCRa5cDANBgkqhkiG9w0BAQsFAAOCAQEAWEJxwT4pFm51
		WHe1ZU2eKfWuCxwY+aMIQ3XvfW3xkur+zmhc4h++pa8aTKqDO1+iR0b3fJ7B
		g8R6JLDpzOmimgcJ6B4dd1ZJ/FNzqEfMyS1aYDSnGgvlK7jf74JK3XBeEBgI
		O13cioQ9aNgAtMSeQ3hLXvBiaoyQZlOKrMV9WP9Oqa3XpMoSRynl8yIhQDJg
		2jr+klQeQ6ENqVI3YL+HxKHHeNWHHuV3419b3HFtukSHMQWAWAvF3nQogYMI
		hNDIRlr+isa9qQ47ZHhtJtw8TPeBXDwRfyU6k2Klo5EFJSNztM3OzDmkA3gw
		ZkZeqXWwtGcDqbGfV/DTds/hk+iAog==
		</data>
	</array>
	<key>CacheTime</key>
	<real>5832</real>
	<key>CachedBag</key>
	<data>
	PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Inll
	cyI/Pgo8IURPQ1RZUEUgcGxpc3QgUFVCTElDICItLy9BcHBsZS8vRFREIFBMSVNUIDEu
	MC8vRU4iICJodHRwOi8vd3d3LmFwcGxlLmNvbS9EVERzL1Byb3BlcnR5TGlzdC0xLjAu
	ZHRkIj4KPHBsaXN0IHZlcnNpb249IjEuMCI+Cgk8ZGljdD4KCQk8a2V5PmF0dC13aWZp
	LW1heC1maWxlLXNpemU8L2tleT4KCQk8aW50ZWdlcj41MjQyODgwPC9pbnRlZ2VyPgoK
	CQk8a2V5PmF0dC1jZWxsdWxhci1tYXgtZmlsZS1zaXplPC9rZXk+CgkJPGludGVnZXI+
	NTI0Mjg4PC9pbnRlZ2VyPgoKCQk8a2V5PmF0dC13aWZpLXZpZGVvLW1heC1maWxlLXNp
	emU8L2tleT4KCQk8aW50ZWdlcj4xMDQ4NTc2MDwvaW50ZWdlcj4KCgkJPGtleT5hdHQt
	d2lmaS12aWRlby1jZWxsdWxhci1maWxlLXNpemU8L2tleT4KCQk8aW50ZWdlcj4xMDQ4
	NTc2PC9pbnRlZ2VyPgoKCQk8a2V5PmF0dC13aWZpLWF1ZGlvLW1heC1maWxlLXNpemU8
	L2tleT4KCQk8aW50ZWdlcj4xMDQ4NTc2MDwvaW50ZWdlcj4KCgkJPGtleT5hdHQtd2lm
	aS1hdWRpby1jZWxsdWxhci1maWxlLXNpemU8L2tleT4KCQk8aW50ZWdlcj4xMDQ4NTc2
	PC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXJlc2VuZC1hcy1zbXMtdGltZW91dDwva2V5PgoJ
	CTxpbnRlZ2VyPjMwPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLW1lc3NhZ2Utc2VuZC10aW1l
	b3V0LXRpbWU8L2tleT4KCQk8aW50ZWdlcj45MDwvaW50ZWdlcj4KCgkJPGtleT5tZC1w
	ZWVyLWxvb2t1cC1wb3NpdGl2ZS1jYWNoZS10aW1lPC9rZXk+CgkJPGludGVnZXI+Mjg4
	MDA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVlci1sb29rdXAtbmVnYXRpdmUtY2FjaGUt
	dGltZTwva2V5PgoJCTxpbnRlZ2VyPjg2NDAwPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLWVu
	YWJsZS1vdHI8L2tleT4KCQk8aW50ZWdlcj4wPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXBl
	ZXItbG9va3VwLXVua25vd24tY2FjaGUtdGltZTwva2V5PgoJCTxpbnRlZ2VyPjkwMDwv
	aW50ZWdlcj4KCgkJPGtleT5tZC1hdXRvLXJlc2VuZC1hcy1zbXMtdGltZW91dC11cHBl
	cjwva2V5PgoJCTxpbnRlZ2VyPjYwMDwvaW50ZWdlcj4KCgkJPGtleT5tZC1hdXRvLXJl
	c2VuZC1hcy1zbXMtdGltZW91dC1sb3dlcjwva2V5PgoJCTxpbnRlZ2VyPjMwMDwvaW50
	ZWdlcj4KCgkJPGtleT5tZC11c2UtYmluYXJ5LXBsaXN0PC9rZXk+CgkJPGludGVnZXI+
	MTwvaW50ZWdlcj4KCgkJPGtleT5tZC1vZmZsaW5lLW1lc3NhZ2UtcmVzcG9uc2UtdGlt
	ZTwva2V5PgoJCTxpbnRlZ2VyPjA8L2ludGVnZXI+CgoJCTxrZXk+bWQtaWQtc3RhdHVz
	LXJlcXVlc3QtZGVsYXktc2hvcnQ8L2tleT4KCQk8aW50ZWdlcj4zPC9pbnRlZ2VyPgoK
	CQk8a2V5Pm1kLWlkLXN0YXR1cy1yZXF1ZXN0LWRlbGF5LWxvbmc8L2tleT4KCQk8aW50
	ZWdlcj44PC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLW1heC1jaGF0LXBhcnRpY2lwYW50czwv
	a2V5PgoJCTxpbnRlZ2VyPjMyPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXR5cGluZy1pbmRp
	Y2F0b3Itb3ZlcnJpZGU8L2tleT4KCQk8ZmFsc2UvPgoKCQk8a2V5PmF0dC1yZXRlbnRp
	b24tZGF5czwva2V5PgoJCTxpbnRlZ2VyPjMwPC9pbnRlZ2VyPgoKCQk8a2V5PmF0dC1h
	dXgtdmlkZW8tbWF4LWZpbGUtc2l6ZTwva2V5PgoJCTxpbnRlZ2VyPjIwOTcxNTI8L2lu
	dGVnZXI+CgoJCTxrZXk+YXR0LWF1eC12aWRlby1taW4tZmlsZS1zaXplPC9rZXk+CgkJ
	PGludGVnZXI+MTA0ODU3NjwvaW50ZWdlcj4KCgkJPGtleT5tZC1wZWVyLWxvb2t1cC1w
	b3NpdGl2ZS1jYWNoZS10aW1lLWNvbS5hcHBsZS5wcml2YXRlLmFjPC9rZXk+CgkJPGlu
	dGVnZXI+ODY0MDA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVlci1sb29rdXAtbmVnYXRp
	dmUtY2FjaGUtdGltZS1jb20uYXBwbGUucHJpdmF0ZS5hYzwva2V5PgoJCTxpbnRlZ2Vy
	PjEyOTYwMDA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVlci1sb29rdXAtdW5rbm93bi1j
	YWNoZS10aW1lLWNvbS5hcHBsZS5wcml2YXRlLmFjPC9rZXk+CgkJPGludGVnZXI+MTIw
	PC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXBlZXItbG9va3VwLXBvc2l0aXZlLWNhY2hlLXRp
	bWUtY29tLmFwcGxlLmVzczwva2V5PgoJCTxpbnRlZ2VyPjg2NDAwPC9pbnRlZ2VyPgoK
	CQk8a2V5Pm1kLXBlZXItbG9va3VwLW5lZ2F0aXZlLWNhY2hlLXRpbWUtY29tLmFwcGxl
	LmVzczwva2V5PgoJCTxpbnRlZ2VyPjEyOTYwMDA8L2ludGVnZXI+CgoJCTxrZXk+bWQt
	cGVlci1sb29rdXAtdW5rbm93bi1jYWNoZS10aW1lLWNvbS5hcHBsZS5lc3M8L2tleT4K
	CQk8aW50ZWdlcj4xMjA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVlci1sb29rdXAtcG9z
	aXRpdmUtY2FjaGUtdGltZS1jb20uYXBwbGUucHJpdmF0ZS5hbGxveS5idWxsZXRpbmJv
	YXJkPC9rZXk+CgkJPGludGVnZXI+ODY0MDA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVl
	ci1sb29rdXAtbmVnYXRpdmUtY2FjaGUtdGltZS1jb20uYXBwbGUucHJpdmF0ZS5hbGxv
	eS5idWxsZXRpbmJvYXJkPC9rZXk+CgkJPGludGVnZXI+ODY0MDA8L2ludGVnZXI+CgoJ
	CTxrZXk+bWQtcGVlci1sb29rdXAtdW5rbm93bi1jYWNoZS10aW1lLWNvbS5hcHBsZS5w
	cml2YXRlLmFsbG95LmJ1bGxldGluYm9hcmQ8L2tleT4KCQk8aW50ZWdlcj4zNjAwPC9p
	bnRlZ2VyPgoKCQk8a2V5Pm1kLXBlZXItbG9va3VwLXBvc2l0aXZlLWNhY2hlLXRpbWUt
	Y29tLmFwcGxlLnByaXZhdGUuYWxsb3kubWFwczwva2V5PgoJCTxpbnRlZ2VyPjg2NDAw
	PC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXBlZXItbG9va3VwLW5lZ2F0aXZlLWNhY2hlLXRp
	bWUtY29tLmFwcGxlLnByaXZhdGUuYWxsb3kubWFwczwva2V5PgoJCTxpbnRlZ2VyPjg2
	NDAwPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXBlZXItbG9va3VwLXVua25vd24tY2FjaGUt
	dGltZS1jb20uYXBwbGUucHJpdmF0ZS5hbGxveS5tYXBzPC9rZXk+CgkJPGludGVnZXI+
	MTIwPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXBlZXItbG9va3VwLXVua25vd24tY2FjaGUt
	dGltZS1jb20uYXBwbGUucHJpdmF0ZS5hbGxveS5mYWNldGltZS5tdWx0aTwva2V5PgoJ
	CTxpbnRlZ2VyPjEyMDwvaW50ZWdlcj4KCgkJPGtleT5tZC1wZWVyLWxvb2t1cC11bmtu
	b3duLWNhY2hlLXRpbWUtY29tLmFwcGxlLnByaXZhdGUuYWxsb3kuZmFjZXRpbWUuYXVk
	aW88L2tleT4KCQk8aW50ZWdlcj4xMjA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVlci1s
	b29rdXAtdW5rbm93bi1jYWNoZS10aW1lLWNvbS5hcHBsZS5wcml2YXRlLmFsbG95LmZh
	Y2V0aW1lLnZpZGVvPC9rZXk+CgkJPGludGVnZXI+MTIwPC9pbnRlZ2VyPgoKCQk8a2V5
	Pm1kLWRlY3J5cHRpb24tZmFpbHVyZS1yZXRyaWVzLXBlci13ZWVrPC9rZXk+CgkJPGlu
	dGVnZXI+MTA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcmV0cnktYXR0ZW1wdHM8L2tleT4K
	CQk8aW50ZWdlcj4yPC9pbnRlZ2VyPgoKCQk8a2V5Pm1kLXJldHJ5LXN0YXJ0LWludGVy
	dmFsPC9rZXk+CgkJPGludGVnZXI+NjA8L2ludGVnZXI+CgoJCTxrZXk+bWQtcGVlci1s
	b29rdXAtbmVnYXRpdmUtY2FjaGUtdGltZS1jb20uYXBwbGUucHJpdmF0ZS5hbGxveS5l
	bGVjdHJpY3RvdWNoPC9rZXk+CgkJPGludGVnZXI+MTQ0MDA8L2ludGVnZXI+CgoJCTxr
	ZXk+bWQtcXJhLWtlZXAtYWxpdmUtaW50ZXJ2YWwtc2Vjb25kczwva2V5PgoJCTxpbnRl
	Z2VyPjE4MDA8L2ludGVnZXI+CgoJCTxrZXk+bW1jcy13aGl0ZWxpc3Q8L2tleT4KCQk8
	YXJyYXk+CgkJCTxzdHJpbmc+aWNsb3VkPC9zdHJpbmc+CgkJPC9hcnJheT4KCgkJPGtl
	eT5jay1jbGllbnQtbWF4LXRpbWUtdG8tZGVmZXItbmlnaHRseS1zeW5jPC9rZXk+CgkJ
	PGludGVnZXI+MzYwMDwvaW50ZWdlcj4KCgkJPGtleT5jay1jYWNoZS1kZWxldGUtdmVy
	c2lvbjwva2V5PgoJCTxpbnRlZ2VyPjI8L2ludGVnZXI+CgoJCTxrZXk+Y2stc3RvcC10
	dHI8L2tleT4KCQk8dHJ1ZS8+CgoJCTxrZXk+bm9udXJnZW50X2ludGVybmV0X3NlbmRf
	aW50ZXJ2YWw8L2tleT4KCQk8aW50ZWdlcj4xODAwPC9pbnRlZ2VyPgoKCQk8a2V5PnN5
	bmNfdG9waWNzX2FsbG93ZWRfdG9fc2VuZF9pbW1lZGlhdGVseTwva2V5PgoJCTxhcnJh
	eT4KCQkJPHN0cmluZz48L3N0cmluZz4KCQk8L2FycmF5PgoKCQk8a2V5PnNob3VsZC1k
	dW1wLWxvZ3Mtb24taWNsb3VkLWtpdC1lcnJvcjwva2V5PgoJCTxmYWxzZS8+CgoJCTxr
	ZXk+c2hvdWxkLWR1bXAtbG9ncy1kYWlseS1pZi1oYXZlbnQtc3luY2VkPC9rZXk+CgkJ
	PGZhbHNlLz4KCgkJPGtleT5kaXNhYmxlLXNyLWNvbnRhaW5lci1zeW5jPC9rZXk+CgkJ
	PHRydWUvPgoKCQk8a2V5PkRTSURTZWxlY3RvclYzPC9rZXk+CgkJPGludGVnZXI+OTk8
	L2ludGVnZXI+CgoJCTxrZXk+RFNJRFNlbGVjdG9yVjQ8L2tleT4KCQk8aW50ZWdlcj4x
	MDA8L2ludGVnZXI+CgoJCTxrZXk+Y2stY2FjaGUtZGVsZXRlLXZlcnNpb24tVjM8L2tl
	eT4KCQk8aW50ZWdlcj4xPC9pbnRlZ2VyPgoKCQk8a2V5PmNrLXJlbW92ZS1mcm9tLWJh
	Y2t1cC12ZXJzaW9uLVYzPC9rZXk+CgkJPGludGVnZXI+MTwvaW50ZWdlcj4KCgkJPGtl
	eT5jay1tYXgtbnVtYmVyLW9mLWF0dGFjaG1lbnQtYmF0Y2hlczwva2V5PgoJCTxpbnRl
	Z2VyPjE8L2ludGVnZXI+CgoJCTxrZXk+Y2stbWF4LW51bWJlci1vZi1tZXNzYWdlLWJh
	dGNoZXM8L2tleT4KCQk8aW50ZWdlcj41MDwvaW50ZWdlcj4KCgkJPGtleT5jYWxsZXIt
	aWQtbGVhcm4tbW9yZS11cmwtc2hvdWxkLXNob3c8L2tleT4KCQk8ZmFsc2UvPgoKCQk8
	a2V5PmNhbGxlci1pZC1sZWFybi1tb3JlLXVybDwva2V5PgoJCTxzdHJpbmc+PC9zdHJp
	bmc+CgoJCTxrZXk+bWQtbWF4LWNoYXQtcGFydGljaXBhbnRzLWluY29taW5nPC9rZXk+
	CgkJPGludGVnZXI+NTA8L2ludGVnZXI+CgoJCTxrZXk+YWxsb3dlZC1hcHAtcmV0cnkt
	dGltZS1zZWM8L2tleT4KCQk8aW50ZWdlcj45MDA8L2ludGVnZXI+CgoJCTxrZXk+YWxs
	b3dlZC1hcHAtcmV0cnktdmVyc2lvbjwva2V5PgoJCTxpbnRlZ2VyPjI8L2ludGVnZXI+
	CgoJCTxrZXk+bWljLXZhbGlkYXRlLW1lc3NhZ2Utc3luYy1kaXNhYmxlZC1vbi1hbGwt
	ZGV2aWNlczwva2V5PgoJCTx0cnVlLz4KCgkJPGtleT5hcHBseS1pbnRlcm5hdGlvbmFs
	LXNwYW0tZmlsdGVyPC9rZXk+CgkJPGludGVnZXI+MTwvaW50ZWdlcj4KCgkJPGtleT5h
	cHBseS1jaGluZXNlLXNwYW0tZmlsdGVyPC9rZXk+CgkJPGludGVnZXI+MjwvaW50ZWdl
	cj4KCgkJPGtleT5pbnRlcm5hdGlvbmFsLXNwYW0tZmlsdGVyLWxlYXJuLW1vcmUtdXJs
	PC9rZXk+CgkJPHN0cmluZz5odHRwczovL3N1cHBvcnQuYXBwbGUuY29tL2h0MjEwNzU2
	PC9zdHJpbmc+CgoJCTxrZXk+cHJlc2VuY2Utc3Vic2NyaXB0aW9uLXR0bC1zZWM8L2tl
	eT4KCQk8aW50ZWdlcj4zODg4MDAwPC9pbnRlZ2VyPgoKCQk8a2V5PmRpc2FibGUtcGlu
	bmluZy1zeW5jPC9rZXk+CgkJPGZhbHNlLz4KCgkJPGtleT5waW5uaW5nLXN5bmMtbWF4
	LW51bS1yZXF1ZXN0czwva2V5PgoJCTxpbnRlZ2VyPjU8L2ludGVnZXI+CgoJCTxrZXk+
	cGlubmluZy1zeW5jLXBlZXItcmVxdWVzdC1kZWxheTwva2V5PgoJCTxpbnRlZ2VyPjE4
	MDwvaW50ZWdlcj4KCgkJPGtleT5hY3Rpdml0eS1tb25pdG9yLW1pbi12ZXJzaW9uPC9r
	ZXk+CgkJPGludGVnZXI+MTwvaW50ZWdlcj4KCgkJPGtleT5zaGFyZWQtY2hhbm5lbHMt
	c3Vic2NyaXB0aW9uLWNhY2hlLXNpemU8L2tleT4KCQk8aW50ZWdlcj4zNTwvaW50ZWdl
	cj4KCgkJPGtleT5zaGFyZWQtY2hhbm5lbHMtbWF4LXN1YnNjcmlwdGlvbi1zaXplPC9r
	ZXk+CgkJPGludGVnZXI+NzU8L2ludGVnZXI+CgoJCTxrZXk+c2hhcmVkLWNoYW5uZWxz
	LXN0YWxlLXB1Ymxpc2gtd2FpdC10aW1lLXNlY29uZHM8L2tleT4KCQk8aW50ZWdlcj4x
	NTwvaW50ZWdlcj4KCgkJPGtleT5zaGFyZWQtY2hhbm5lbHMtc2NoZWR1bGVkLXB1Ymxp
	c2gtdmFyaWFuY2UtbWF4LXNsb3AtcGVyaW9kLXNlY29uZHM8L2tleT4KCQk8aW50ZWdl
	cj4zMDA8L2ludGVnZXI+CgoJCTxrZXk+c2hhcmVkLWNoYW5uZWxzLXVuc2NoZWR1bGVk
	LXB1Ymxpc2gtdmFyaWFuY2UtbWF4LXNsb3AtcGVyaW9kLXNlY29uZHM8L2tleT4KCQk8
	aW50ZWdlcj4wPC9pbnRlZ2VyPgoKCQk8a2V5PnNoYXJlZC1jaGFubmVscy1kaXNhYmxl
	ZDwva2V5PgoJCTxmYWxzZS8+CgoJCTxrZXk+c2hhcmVkLWNoYW5uZWxzLXN1YnNjcmlw
	dGlvbi10dGwtbWludXRlczwva2V5PgoJCTxpbnRlZ2VyPjQzMjA8L2ludGVnZXI+CgoJ
	CTxrZXk+c2hhcmVkLWNoYW5uZWxzLXJlcXVlc3QtcmV0cnktY291bnQ8L2tleT4KCQk8
	aW50ZWdlcj4yPC9pbnRlZ2VyPgoKCQk8a2V5PnN0YXR1cy1raXQta2V5c2hhcmluZy1k
	aXNhYmxlZDwva2V5PgoJCTxmYWxzZS8+CgoJCTxrZXk+cGFzc2tleS1hdXRoZW50aWNh
	dG9yLXJlYWQtdGltZW91dDwva2V5PgoJCTxpbnRlZ2VyPjI0MDwvaW50ZWdlcj4KCgkJ
	PGtleT5jb2FsZXNjZS1zZW5kLWRlbGF5LW5vcm1hbDwva2V5PgoJCTxpbnRlZ2VyPjMw
	PC9pbnRlZ2VyPgoKCQk8a2V5PmNvYWxlc2NlLXNlbmQtZGVsYXktYmFja2dyb3VuZDwv
	a2V5PgoJCTxpbnRlZ2VyPjE4MDA8L2ludGVnZXI+CgoJCTxrZXk+Y29hbGVzY2Utc2Vu
	ZC1kZWxheS1zY2hlZHVsZWQ8L2tleT4KCQk8aW50ZWdlcj4zNjAwPC9pbnRlZ2VyPgoK
	CQk8a2V5PmxpdmUtYWN0aXZpdHktYnVyc3Q8L2tleT4KCQk8aW50ZWdlcj4yNDA8L2lu
	dGVnZXI+CgoJCTxrZXk+bGl2ZS1hY3Rpdml0eS1idXJzdC13aW5kb3ctc2Vjb25kczwv
	a2V5PgoJCTxpbnRlZ2VyPjM2MDA8L2ludGVnZXI+CgoJCTxrZXk+YWN0aXZpdHktcHJl
	c2VuY2UtZW5hYmxlZDwva2V5PgoJCTx0cnVlLz4KCgkJPGtleT5hY3Rpdml0eS1wcmVz
	ZW5jZS1tYXgtc3Vic2NyaXB0aW9uLXNpemU8L2tleT4KCQk8aW50ZWdlcj4xMDwvaW50
	ZWdlcj4KCgkJPGtleT5hY3Rpdml0eS1wcmVzZW5jZS1yZXRyeS1jb3VudDwva2V5PgoJ
	CTxpbnRlZ2VyPjM8L2ludGVnZXI+CgoJCTxrZXk+bGl2ZS1hY3Rpdml0eS1idXJzdC1y
	ZWR1Y2VkPC9rZXk+CgkJPGludGVnZXI+NjA8L2ludGVnZXI+CgoJCTxrZXk+bGl2ZS1h
	Y3Rpdml0eS1idXJzdC1yZWR1Y2VkLXdpbmRvdy1zZWNvbmRzPC9rZXk+CgkJPGludGVn
	ZXI+MzYwMDwvaW50ZWdlcj4KCgk8L2RpY3Q+CjwvcGxpc3Q+Cg==
	</data>
	<key>CachedSignature</key>
	<data>
	iTN3N02M/c4Xz808UwiXX0oeCHbczyY3QTAHAO5RJpDl5kkwO98kgQ8WtvLzTLDHkbqp
	2+ANDMKbI4uhRb2WKJxXAmO/nEhlPfaTas9jQLwDCMAGUhSVwexb6YgP3bLe2+xLg0ZN
	GHRttdtyrzYr0/BXi7P+2M8hQfnOxx9Fq0q6Y91o4fI3ETes7ew0fbDNkEc6cDDLcuYJ
	jQoJkH9QlGp6wgoTrHc66oUKrhrwcUUceuQ8Hy/TmR5BugQ0nEtYGl7CT1AlJX1+vDY5
	WOewRoGAylL2QoKaAkKR1CUnQK3x0rh0opibgktpSCy1myb8QRqO8vZFRh72OKW3faqf
	lw==
	</data>
	<key>Date</key>
	<real>709832854.27873003</real>
	<key>URL</key>
	<string>https://init-p01md.apple.com/bag?ix=2</string>
</dict>
</plist>
