<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAssetContentVersionDownloaded</key>
	<integer>11</integer>
	<key>LastAssetUpdateDate</key>
	<date>2023-07-03T03:59:52Z</date>
	<key>LastLaunchDate.routined</key>
	<date>2023-06-30T15:47:33Z</date>
	<key>LastSuccessfulAssetUpdateDate</key>
	<date>2023-07-03T03:59:52Z</date>
	<key>LearnedLocationEngineTrainVisitsLastAttemptDate</key>
	<date>2023-07-03T03:32:47Z</date>
	<key>PlaceInferenceMetricsClientQueryCount1</key>
	<integer>1</integer>
	<key>RTDefaultsABTestDeviceSeed</key>
	<string>1EA830FE-BDFD-4791-B8A6-C10808558122</string>
	<key>RTDefaultsDeviceMetricCurrentReachability</key>
	<integer>1</integer>
	<key>RTDefaultsDeviceMetricCurrentReachabilityStartDate</key>
	<date>2023-06-30T10:46:02Z</date>
	<key>RTDefaultsIntermittentGNSSDailyDuration</key>
	<integer>0</integer>
	<key>RTDefaultsIntermittentGNSSDailyLongSessionCount</key>
	<integer>0</integer>
	<key>RTDefaultsIntermittentGNSSDailyLongestSessionDuration</key>
	<integer>0</integer>
	<key>RTDefaultsIntermittentGNSSDailySessionCount</key>
	<integer>0</integer>
	<key>RTDefaultsLearnedLocationEngineLocationOfInterestMetricsSubmitted</key>
	<true/>
	<key>RTDefaultsPersistenceMirroringManagerMirroringAttemptsByBuildMap</key>
	<dict>
		<key>22F82</key>
		<false/>
	</dict>
	<key>XPCActivityLastAttemptDate.com.apple.routined.assets</key>
	<date>2023-07-03T03:59:52Z</date>
	<key>XPCActivityLastAttemptDate.com.apple.routined.learnedLocationEngine.train</key>
	<date>2023-07-03T03:32:47Z</date>
	<key>XPCActivityLastAttemptDate.com.apple.routined.locationAwareness.heartbeat</key>
	<date>2023-07-03T17:18:22Z</date>
	<key>XPCActivityLastAttemptDate.com.apple.routined.metrics.daily</key>
	<date>2023-07-03T03:34:27Z</date>
	<key>XPCActivityLastAttemptDate.com.apple.routined.persistence.mirroring.background</key>
	<date>2023-07-03T03:34:11Z</date>
	<key>XPCActivityLastAttemptDate.com.apple.routined.persistence.mirroring.post-install</key>
	<date>2023-07-02T15:58:45Z</date>
	<key>XPCActivityLastAttemptDate.com.apple.routined.purge</key>
	<date>2023-07-03T03:38:49Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.assets</key>
	<date>2023-07-03T03:59:52Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.learnedLocationEngine.train</key>
	<date>2023-07-03T03:32:48Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.locationAwareness.heartbeat</key>
	<date>2023-07-03T17:18:22Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.metrics.daily</key>
	<date>2023-07-03T03:34:27Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.persistence.mirroring.background</key>
	<date>2023-07-03T03:34:11Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.persistence.mirroring.post-install</key>
	<date>2023-07-02T15:58:46Z</date>
	<key>XPCActivityLastCompleteDate.com.apple.routined.purge</key>
	<date>2023-07-03T03:38:49Z</date>
	<key>learnedLocationEngineTrainLocationsOfInterestLastCompletionDate</key>
	<date>2023-07-03T03:32:48Z</date>
</dict>
</plist>
