<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActivityBaseDates</key>
	<dict>
		<key>&lt;Unknown&gt;</key>
		<date>2023-06-30T10:50:55Z</date>
		<key>CloudStoreTransactionSourceClientIdentifier.CloudStoreTransactionSourceSync</key>
		<date>2023-07-03T15:58:49Z</date>
		<key>PDAuxiliaryCapabilityManager.checkPassRegistrationState</key>
		<date>2023-07-03T15:58:44Z</date>
		<key>PDCardFileManager.CacheMaintenance</key>
		<date>2023-07-14T11:03:00Z</date>
		<key>PDCardFileManager.RevocationCheck</key>
		<date>2023-07-04T15:48:37Z</date>
		<key>PDChangeRegistryScheduledClientIdentifier.PDChangeRegistryScheduledActivityIdentifier</key>
		<date>2023-07-30T15:48:37Z</date>
		<key>PDCloudStoreNotificationCoordinatorScheduledActivityClientIdentifier.ContainerSetupLongInterval</key>
		<date>2023-07-02T15:58:55Z</date>
		<key>PDCloudStoreNotificationCoordinatorScheduledActivityClientIdentifier.PDPassChangesActivityIdentifier</key>
		<date>2023-07-03T18:03:37Z</date>
		<key>PDCloudStoreNotificationCoordinatorScheduledActivityClientIdentifier.PDPassSyncActivityIdentifier</key>
		<date>2023-07-04T03:48:37Z</date>
		<key>PDMapsBrandAndMerchantUpdaterClientIdentifier.PDMapsBrandAndMerchantUpdaterActivityIdentifier</key>
		<date>2023-07-03T15:58:49Z</date>
		<key>PDMapsMerchantProcessingServiceClientIdentifier.PDMapsMerchantProcessingActivityIdentifier</key>
		<date>2023-07-03T15:58:48Z</date>
		<key>com.apple.AOSHeartbeat.daily</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.AddressBook.ScheduledSync</key>
		<date>2023-07-03T17:47:32Z</date>
		<key>com.apple.CacheDelete.daily</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.DataDetectorsLocalSource</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.EscrowSecurityAlert.daily</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.FileProvider.cache-delete.push</key>
		<date>2023-07-02T23:33:38Z</date>
		<key>com.apple.FileProvider.fpfs.telemetry</key>
		<date>2023-07-03T10:46:04Z</date>
		<key>com.apple.FileProvider.maintenance.fpck-repair</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.GeoServices.UpdateExperiment</key>
		<date>2023-07-03T15:47:32Z</date>
		<key>com.apple.GeoServices.UpdateExperiment.Execute</key>
		<date>2023-07-03T15:56:08Z</date>
		<key>com.apple.IMAutomaticHistoryDeletionAgent</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.IntlPreferences.analytics</key>
		<date>2023-07-02T13:59:16Z</date>
		<key>com.apple.KeyboardServices.TextReplacementCKSyncTask</key>
		<date>2023-07-02T10:45:56Z</date>
		<key>com.apple.MTLAssetUpgraderD.prune</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.Maps.mapspushd.launchForAnnouncements</key>
		<date>2023-07-03T04:08:46Z</date>
		<key>com.apple.ProtectedCloudStorage.fortnightly</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.ProtectedCloudStorage.scheduledKeyroll</key>
		<date>2023-06-30T16:17:34Z</date>
		<key>com.apple.Safari.PasswordBreachHelper.PeriodicLookupActivity</key>
		<date>2023-07-07T15:47:33Z</date>
		<key>com.apple.SafariBookmarksSyncAgent.XPC.TabCollectionMaintenance</key>
		<date>2023-07-01T19:16:53Z</date>
		<key>com.apple.SafariBookmarksSyncAgent.XPC.ZoneSubscriptionRegistration</key>
		<date>2023-06-30T15:47:40Z</date>
		<key>com.apple.ScreenTimeAgent.activity.CoreAnalytics</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.ScreenTimeAgent.activity.fail-stuck-sent-messages</key>
		<date>2023-07-01T10:45:56Z</date>
		<key>com.apple.UsageTrackingAgent.activity.uncategorized-web-usage</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.WindowManager.DailyHeartbeat</key>
		<date>2023-07-02T20:03:55Z</date>
		<key>com.apple.XProtect.PluginService.agent.fast.scan</key>
		<date>2023-07-03T16:45:54Z</date>
		<key>com.apple.XProtect.PluginService.agent.scan</key>
		<date>2023-07-01T15:37:44Z</date>
		<key>com.apple.XProtect.PluginService.agent.slow.scan</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.accounts.cleanup</key>
		<date>2023-07-03T00:40:26Z</date>
		<key>com.apple.ak.hb</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.ak.listupdate</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.amsaccountsd.refresh</key>
		<date>2023-07-03T12:00:06Z</date>
		<key>com.apple.amsengagementd.daily</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.animoji.UsageAnalysis</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.ap.promotedcontentd.gc</key>
		<date>2023-07-01T10:45:54Z</date>
		<key>com.apple.appleaccountd.trustedContacts.healthCheck</key>
		<date>2023-07-02T15:58:49Z</date>
		<key>com.apple.appstoreagent.scheduleTasks</key>
		<date>2023-06-30T15:49:38Z</date>
		<key>com.apple.appstored.AutoUpdates</key>
		<date>2023-07-03T10:46:04Z</date>
		<key>com.apple.appstored.CacheDeleteUpdate</key>
		<date>2023-07-03T16:46:04Z</date>
		<key>com.apple.appstored.Daily</key>
		<date>2023-07-03T10:46:04Z</date>
		<key>com.apple.appstored.activities.AdPlatformsStatusConditions</key>
		<date>2023-07-30T18:22:12Z</date>
		<key>com.apple.ax.AXIconVision.LaunchActivity</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.ax.ImageCaptionModel.LaunchActivity</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.ax.TTSResource.LaunchActivity</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.ax.TTSResource.cleanse.LaunchActivity</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.backgroundassets.periodic_check</key>
		<date>2023-07-02T21:34:44Z</date>
		<key>com.apple.betaenrollmentd.verify</key>
		<date>2023-07-04T15:47:32Z</date>
		<key>com.apple.biome.prune-expired-events</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.biomesyncd.database-maintenance</key>
		<date>2023-07-02T11:34:50Z</date>
		<key>com.apple.biomesyncd.metrics-collection</key>
		<date>2023-07-02T10:49:33Z</date>
		<key>com.apple.biomesyncd.periodic-sync</key>
		<date>2023-07-03T17:41:46Z</date>
		<key>com.apple.bird.analytics-report</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.bird.app-telemetry</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.bird.cache-delete.push</key>
		<date>2023-07-02T15:34:11Z</date>
		<key>com.apple.bird.configuration-server-update</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.bird.fpfs-migration-trial-refresh</key>
		<date>2023-06-30T10:46:06Z</date>
		<key>com.apple.bird.sync</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.calendar.daemon.analytics</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.calendar.daemon.attachmentcleanup</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.calendar.daemon.changetablecleanup</key>
		<date>2023-07-02T03:16:51Z</date>
		<key>com.apple.calendar.daemon.databasecleanup</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.cloudkit.operationInfoCacheEviction</key>
		<date>2023-07-02T11:59:33Z</date>
		<key>com.apple.cloudkit.packageGarbageCollection</key>
		<date>2023-07-03T06:18:55Z</date>
		<key>com.apple.cloudkit.tokenregistration</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.cloudphotod.maintenance</key>
		<date>2023-07-03T03:33:22Z</date>
		<key>com.apple.contactsd.accounts.cleanup</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.contactsd.analysis</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.contextkit.mobileasset.check</key>
		<date>2023-07-02T10:45:56Z</date>
		<key>com.apple.controlcenter</key>
		<date>2023-07-02T20:03:55Z</date>
		<key>com.apple.coreduet.knowledge-agent.people.refresh-cache</key>
		<date>2023-07-03T05:03:21Z</date>
		<key>com.apple.coreduetd.intentsprivacydeletions</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.coreduetd.knowledge.user</key>
		<date>2023-07-01T15:38:00Z</date>
		<key>com.apple.corespotlight.knowledge</key>
		<date>2023-07-01T15:36:39Z</date>
		<key>com.apple.corespotlight.knowledge.debug.reset</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.corespotlight.knowledge.debug.update</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.corespotlightd.updateContacts</key>
		<date>2023-07-01T10:45:54Z</date>
		<key>com.apple.dataaccess.dataaccessd.dailyAnalytics</key>
		<date>2023-07-01T13:59:16Z</date>
		<key>com.apple.devicecheck.notify</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.email.maild.sendlaterdelivery.alarmrestart</key>
		<date>2023-06-30T15:47:55Z</date>
		<key>com.apple.exchange.exchangesyncd.accountauthupgrader</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.exchange.exchangesyncd.firstrun</key>
		<date>2023-06-30T15:55:38Z</date>
		<key>com.apple.exchangesyncd.activity.maintenance</key>
		<date>2023-06-30T15:55:38Z</date>
		<key>com.apple.family.cache.refresh</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.family.heartbeat</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.financed.orders.instrumentation.count</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.financed.orders.prune</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.geo.analytics</key>
		<date>2023-07-03T02:16:50Z</date>
		<key>com.apple.geo.ma.resource.server</key>
		<date>2023-07-02T09:58:48Z</date>
		<key>com.apple.geod.updateNetworkDefaults</key>
		<date>2023-07-03T14:21:27Z</date>
		<key>com.apple.homed.HMDMobileAssetManager.BackgroundActivityScheduler</key>
		<date>2023-07-02T10:45:56Z</date>
		<key>com.apple.homed.logEvent.dailyScheduler</key>
		<date>2023-07-03T10:45:56Z</date>
		<key>com.apple.icloud.searchpartyd.ProductInfoManager</key>
		<date>2023-07-03T12:58:49Z</date>
		<key>com.apple.ids.registrationaccountstatusmetric</key>
		<date>2023-07-02T09:58:55Z</date>
		<key>com.apple.ind.cloudfeatures.reload</key>
		<date>2023-07-03T17:24:43Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.Boot</key>
		<date>2023-06-30T15:47:33Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.FullPipeline</key>
		<date>2023-07-03T03:35:01Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewDaily</key>
		<date>2023-07-01T15:35:28Z</date>
		<key>com.apple.intelligenceplatform.IntelligencePlatformCore.ViewWeekly</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.itunescloud.ICDBackgroundTaskManager.periodic-poll-activity</key>
		<date>2023-06-30T10:46:08Z</date>
		<key>com.apple.itunescloud.ICInAppMessageManager.periodic-poll-activity</key>
		<date>2023-07-02T15:28:47Z</date>
		<key>com.apple.itunescloud.subscription_status_refresh</key>
		<date>2023-07-03T10:46:08Z</date>
		<key>com.apple.knowledgestore.sync</key>
		<date>2023-06-30T10:46:04Z</date>
		<key>com.apple.kvs.periodic-analytics</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.linkd.prune-transcript</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.mbuseragent.expressupdate</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.mediaanalysisd.filesystem</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.mediaanalysisd.fullanalysis</key>
		<date>2023-07-03T00:17:01Z</date>
		<key>com.apple.mediaanalysisd.photos.face</key>
		<date>2023-07-03T00:32:50Z</date>
		<key>com.apple.mediaanalysisd.photos.maintenance</key>
		<date>2023-07-01T15:36:06Z</date>
		<key>com.apple.mediaanalysisd.photos.ocr</key>
		<date>2023-07-03T00:16:52Z</date>
		<key>com.apple.mediaanalysisd.photos.visualsearch</key>
		<date>2023-07-03T00:33:05Z</date>
		<key>com.apple.mediaanalysisd.photosanalysis</key>
		<date>2023-07-03T00:33:22Z</date>
		<key>com.apple.mediaanalysisd.preheat</key>
		<date>2023-06-30T15:47:33Z</date>
		<key>com.apple.messages.chatSyncing</key>
		<date>2023-07-03T18:46:03Z</date>
		<key>com.apple.messages.ckMetricsLogging</key>
		<date>2023-07-03T10:46:03Z</date>
		<key>com.apple.messages.messageSyncing</key>
		<date>2023-07-01T10:46:03Z</date>
		<key>com.apple.messages.spotlightIndexing</key>
		<date>2023-07-03T01:16:50Z</date>
		<key>com.apple.mlruntimed.xpc_activity-orchestra</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.networkserviceproxy.metadata-refresh-12h</key>
		<date>2023-07-02T09:58:45Z</date>
		<key>com.apple.networkserviceproxy.metadata-refresh-22h</key>
		<date>2023-07-03T17:13:20Z</date>
		<key>com.apple.networkserviceproxy.publish-daily-stats</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.noticeboard.update</key>
		<date>2023-07-03T15:59:33Z</date>
		<key>com.apple.osanalytics.stability-monitor</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.osanalytics.submissions.cleanup</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.osanalytics.submissions.submit</key>
		<date>2023-07-03T10:59:18Z</date>
		<key>com.apple.osanalytics.submissions.submit-permissive</key>
		<date>2023-07-03T11:46:42Z</date>
		<key>com.apple.parsec-fbf.aggregate</key>
		<date>2023-07-02T17:27:35Z</date>
		<key>com.apple.parsec-fbf.cleanup</key>
		<date>2023-07-03T11:01:37Z</date>
		<key>com.apple.parsec-fbf.flush</key>
		<date>2023-07-03T06:46:51Z</date>
		<key>com.apple.parsec-fbf.uploadaggregates</key>
		<date>2023-07-06T22:21:23Z</date>
		<key>com.apple.photoanalysisd.backgroundanalysis</key>
		<date>2023-07-03T00:40:25Z</date>
		<key>com.apple.photoanalysisd.music</key>
		<date>2023-07-02T15:34:11Z</date>
		<key>com.apple.photolibraryd.curatedlibraryprocessing</key>
		<date>2023-07-02T23:33:38Z</date>
		<key>com.apple.photolibraryd.periodicmaintenance</key>
		<date>2023-07-01T15:35:50Z</date>
		<key>com.apple.proactive.PersonalIntelligence.PersonalIntelligenceMetrics</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ClientLinkStatus</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ContactHandlesCache</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ContactsImport</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.CoreRoutineImport</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.DailyMetricsLogging</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.DecayedFeedbackCleanup</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.DecayedFeedbackCountsDecay</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.EventKitImport</key>
		<date>2023-07-02T15:16:50Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.ExpiredLinkReview</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.FeedbackProcessing</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.FeedbackStreamReviewed</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LinkStatusGeneration</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogLocationPerplexity</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogNamedEntityFirstSource</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogNamedEntityPerplexity</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogTopicFirstSource</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.LogTopicPerplexity</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.MapsImport</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.NamedEntityFiltering</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.NamedEntityImport</key>
		<date>2023-07-01T15:38:48Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.NamedEntityRepairAndExport</key>
		<date>2023-07-01T15:38:48Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.OptimizeDatabase</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.RTCSendLogs</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.RemotelyDonatedRecordCleanup</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.SocialHighlightFeedbackCleanUp</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.SocialHighlightSettingsCollection</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.SpotlightScoringCache</key>
		<date>2023-07-03T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.TTLBasedDonationCleanup</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.TTLBasedFeedbackRecordCleanup</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.TopicImport</key>
		<date>2023-07-01T15:38:48Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.TopicRepairAndExport</key>
		<date>2023-07-01T15:38:47Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.UnsupportedClient</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.proactive.PersonalizationPortrait.VacuumDatabase</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.proactive.ProactiveHarvesting.Cleanup</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.proactive.ProactiveHarvesting.Harvest.PeriodicBackground</key>
		<date>2023-07-02T03:58:46Z</date>
		<key>com.apple.proactived.contextualactions.training</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.proactiveeventtrackerd.mapreduce.heartbeat</key>
		<date>2023-07-03T17:47:32Z</date>
		<key>com.apple.proactiveeventtrackerd.sendDaily</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.proactiveeventtrackerd.updateAssetMetadata</key>
		<date>2023-07-02T09:58:55Z</date>
		<key>com.apple.proactiveinsights.submission</key>
		<date>2023-07-01T15:36:22Z</date>
		<key>com.apple.quicklook.cloudThumbnailDatabaseCleanup</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.remindd.ICCloudConfigurationUpdater</key>
		<date>2023-07-03T09:24:12Z</date>
		<key>com.apple.remindd.RDExtraneousAlarmCleaner</key>
		<date>2023-07-02T03:34:16Z</date>
		<key>com.apple.remindd.RDHousekeepingActivityScheduler</key>
		<date>2023-07-03T03:28:42Z</date>
		<key>com.apple.remotemanagement.periodic-sync</key>
		<date>2023-07-02T10:59:33Z</date>
		<key>com.apple.routined.assets</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.routined.learnedLocationEngine.train</key>
		<date>2023-07-02T21:32:48Z</date>
		<key>com.apple.routined.locationAwareness.heartbeat</key>
		<date>2023-07-03T17:47:37Z</date>
		<key>com.apple.routined.metrics.daily</key>
		<date>2023-07-02T03:33:27Z</date>
		<key>com.apple.routined.persistence.mirroring.background</key>
		<date>2023-07-02T09:34:11Z</date>
		<key>com.apple.routined.persistence.mirroring.backup</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.routined.purge</key>
		<date>2023-07-01T15:38:49Z</date>
		<key>com.apple.searchd.expirations</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.searchd.expirations.AB</key>
		<date>2023-07-01T10:45:54Z</date>
		<key>com.apple.searchparty.BeaconStore.Analytics</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.securityd.daily</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.securityd.entropyhealth</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.securityd.prng</key>
		<date>2023-07-03T06:04:11Z</date>
		<key>com.apple.securityuploadd.triggerupload</key>
		<date>2023-07-02T09:58:51Z</date>
		<key>com.apple.sesd.generalStatistics</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.sesd.keySyncStateStatistics</key>
		<date>2023-07-03T09:15:54Z</date>
		<key>com.apple.siri.vocabulary.indexMaintenance</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.siri.xpc_activity.cloudkitsync.weekly</key>
		<date>2023-06-30T10:45:55Z</date>
		<key>com.apple.siri.xpc_activity.context-collector-reelection</key>
		<date>2023-07-01T23:16:53Z</date>
		<key>com.apple.siri.xpc_activity.heartbeat</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.siri.xpc_activity.media-indexer</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.siri.xpc_activity.metrics-sender</key>
		<date>2023-07-02T10:45:55Z</date>
		<key>com.apple.siri.xpc_activity.service_maintenance</key>
		<date>2023-07-01T15:16:51Z</date>
		<key>com.apple.siri.xpc_activity.speech-audio-sample-delete</key>
		<date>2023-07-02T15:59:10Z</date>
		<key>com.apple.siri.xpc_activity.speech-audio-sampled</key>
		<date>2023-07-02T15:58:51Z</date>
		<key>com.apple.siri.xpc_activity.sync.daily</key>
		<date>2023-07-03T10:45:55Z</date>
		<key>com.apple.siriactionsd.RemoteQuarantineUpdate</key>
		<date>2023-07-03T11:38:49Z</date>
		<key>com.apple.siriactionsd.ShortcutsDailyMetricCheckIn</key>
		<date>2023-07-03T12:14:12Z</date>
		<key>com.apple.siriactionsd.ShortcutsWeeklyMetricCheckIn</key>
		<date>2023-07-04T03:18:13Z</date>
		<key>com.apple.sirittsd.cleanUp</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.sirittsd.neuralCompiling</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.sirittsd.voiceUpdate</key>
		<date>2023-07-02T10:49:18Z</date>
		<key>com.apple.sirittsd.weeklyVoiceUpdate</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.spotlight.modelUpdating</key>
		<date>2023-07-02T10:46:07Z</date>
		<key>com.apple.spotlight.sendmlfeedback</key>
		<date>2023-07-03T10:46:07Z</date>
		<key>com.apple.spotlight.textstore.Analytics</key>
		<date>2023-07-03T04:51:42Z</date>
		<key>com.apple.statuskit.maintenance</key>
		<date>2023-07-02T10:46:03Z</date>
		<key>com.apple.suggestd.cd-cache-rebuild</key>
		<date>2023-07-01T15:35:33Z</date>
		<key>com.apple.suggestd.harvested-url-metric-upload</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.identityanalysis</key>
		<date>2023-07-01T15:35:33Z</date>
		<key>com.apple.suggestd.ma-metadata-download</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.mail-intelligence-tasks</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.phone-qr-engagement-data-recording</key>
		<date>2023-07-01T10:45:54Z</date>
		<key>com.apple.suggestd.process-pending-geocodes</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.process-pending-verification</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.sendrtc</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.trim</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestd.vacuum</key>
		<date>2023-07-02T10:45:54Z</date>
		<key>com.apple.suggestions.collectweeklystats</key>
		<date>2023-06-30T10:45:54Z</date>
		<key>com.apple.suggestions.sqlentitystore.cacheprecomputation</key>
		<date>2023-07-01T15:35:33Z</date>
		<key>com.apple.telephonyutilities.callservicesd.csdvoipapplicationcontroller.daily</key>
		<date>2023-07-04T10:46:03Z</date>
		<key>com.apple.tipsd.analytics-maintenance</key>
		<date>2023-07-02T02:16:53Z</date>
		<key>com.apple.tipsd.update-content</key>
		<date>2023-07-03T01:32:49Z</date>
		<key>com.apple.tipsd.welcome.followup</key>
		<date>1992-06-29T15:47:33Z</date>
		<key>com.apple.transparencyd.24h</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.transparencyd.dutycycle</key>
		<date>2023-07-03T10:45:54Z</date>
		<key>com.apple.transparencyd.self-validate</key>
		<date>2023-07-03T18:45:54Z</date>
		<key>com.apple.triald.cellular</key>
		<date>2023-06-30T10:58:01Z</date>
		<key>com.apple.triald.fetch-experiments</key>
		<date>2023-07-02T11:26:43Z</date>
		<key>com.apple.triald.maintenance</key>
		<date>2023-07-02T11:35:22Z</date>
		<key>com.apple.weatherd.notifications</key>
		<date>2023-06-30T15:47:55Z</date>
		<key>com.trusourcelabs.updatecheck</key>
		<date>2023-07-03T06:15:12Z</date>
	</dict>
	<key>ProductBuildVersion</key>
	<string>22F82</string>
	<key>VersionSpecificActivitiesRun</key>
	<array>
		<string>com.apple.ndoagent.upgrade</string>
		<string>com.apple.financed.post-install</string>
		<string>com.apple.icloud.searchpartyuseragent.post-install</string>
		<string>com.apple.triald.post-upgrade</string>
		<string>com.apple.siri.xpc_activity.speech-ane-compilation</string>
		<string>com.apple.avatar.activity.PostInstallMigration</string>
		<string>com.apple.linkd.update-registry</string>
		<string>com.apple.ap.promotedcontentd.postinstall</string>
		<string>com.apple.tipsd.postInstall-utility</string>
		<string>com.apple.siri.xpc_activity.siri-vocabulary-migration</string>
		<string>com.apple.siri.vocabulary.postInstallMigration</string>
		<string>com.apple.ak.postinstall</string>
		<string>com.apple.biome.post-install-maintenance</string>
		<string>com.apple.sirittsd.postInstall</string>
		<string>com.apple.cs.postinstall</string>
		<string>com.apple.siri.xpc_activity.logviewer-identifier-defaults-write</string>
		<string>com.apple.tipsd.welcome.followup</string>
		<string>com.apple.MTLAssetUpgraderD.os-update</string>
		<string>com.apple.messages.spotlightMigration</string>
		<string>com.apple.triald.post-upgrade-require-inexpensive-networking</string>
		<string>com.apple.routined.persistence.mirroring.post-install</string>
	</array>
</dict>
</plist>
