<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACID</key>
	<string></string>
	<key>AppExitGraceful</key>
	<false/>
	<key>BootActivity-LastBootVersion</key>
	<string>16.76.23062703</string>
	<key>CUITeachingUIManagerUsageDictionaryKey</key>
	<dict>
		<key>AutoAltText1</key>
		<integer>1</integer>
	</dict>
	<key>ChangeInstallLanguageState</key>
	<integer>2</integer>
	<key>ContactDisplayNameOrderIsSet</key>
	<true/>
	<key>ContactSupportActiveConversation</key>
	<false/>
	<key>CrashActionServiceUrlKey</key>
	<string>https://officeci.azurewebsites.net/api/</string>
	<key>CulturePreviousPreferredEditing</key>
	<string>en-US</string>
	<key>DisableAutoAltText</key>
	<false/>
	<key>DocsUIMruHasMarkedFutureAccessTokensForPinnedState</key>
	<true/>
	<key>ExtensionsAutoPinCompleted</key>
	<true/>
	<key>FRE.UnifiedConsent</key>
	<true/>
	<key>FirstRunExperienceCompletedOrmj_old</key>
	<true/>
	<key>HTMLWebPrefsIdentifierWebKitDefaultFontSize</key>
	<integer>14</integer>
	<key>HTMLWebPrefsIdentifierWebKitJavaScriptEnabled</key>
	<false/>
	<key>HTMLWebPrefsIdentifierWebKitPluginsEnabled</key>
	<false/>
	<key>HTMLWebPrefsIdentifierWebKitShowsURLsInToolTips</key>
	<false/>
	<key>HTMLWebPrefsIdentifierWebKitStandardFont</key>
	<string>Calibri</string>
	<key>HTMLWebPrefsIdentifierWebKitTabToLinksPreferenceKey</key>
	<true/>
	<key>InstalledAddins</key>
	<dict>
		<key>6843213A-C9BA-4846-B740-FA004592F1F9</key>
		<array>
			<string>6b47614e-0125-454b-9f76-bd5aef85ac7b</string>
			<string>a7ca6c74-33fb-43a4-a3e4-781078f0eff5</string>
			<string>545d8236-721a-468f-85d8-254eca7cb0da</string>
			<string>fe93bfe1-7947-460a-a5e0-7a5906b51455</string>
			<string>b80322f1-a890-4045-a7dc-308d64fa84c8</string>
			<string>6046742c-3aee-485e-a4ac-92ab7199db2e</string>
			<string>a216ceed-7791-4635-a752-5a4ac0a5eb93</string>
			<string>afde34e6-58a4-4122-8a52-ef402180a878</string>
		</array>
	</dict>
	<key>IsRunningNewOutlook</key>
	<true/>
	<key>LastViewedModuleTag</key>
	<integer>1</integer>
	<key>LoginKeychainEmpty</key>
	<true/>
	<key>MSX_Muid</key>
	<string>CC1786B0-D970-4E1B-9ADD-A525BCECBCB1</string>
	<key>MailComposeUndoSendDelay</key>
	<integer>20</integer>
	<key>MainWindowToolbarSearch</key>
	<array>
		<string>534</string>
		<string>518</string>
		<string>sgp-eng-gordon</string>
		<string>gradle import</string>
		<string>from:"Vicky Dahuja"</string>
		<string>intellij gradle import</string>
		<string>native gradle import</string>
	</array>
	<key>MsoLoggingDidRemoveOldLogs</key>
	<true/>
	<key>MyDay_Selected_Calendars_Info</key>
	<array/>
	<key>MyDay_Selected_Calendars_New</key>
	<array>
		<data>
		AQMkADY4NDMyMTNhLWM5YmEtNDg0Ni1iNzQwLWZhMDAANDU5MmYxZjkALgAA
		A0BnCES8mXJMi4retVx2iOUBAIeioForQo5CpNUhVn1urWYAAAIBDQAAAA==
		</data>
	</array>
	<key>MyDay_Visibility_0</key>
	<false/>
	<key>NSDisabledCharacterPaletteMenuItem</key>
	<false/>
	<key>NSNavLastRootDirectory</key>
	<string>~/Desktop</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSOutlineView Items SidebarMail_AllAccounts</key>
	<array>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwRElUk
		bnVsbNINDg8QViRjbGFzc1RIeElEgAOAAk8QMAAASQAAAAAAAAAAAJKDBAAA
		AAAAAQAAAAAAAAAAAAAAkoMEAAAAAAD+/////////9ITFBUWWiRjbGFzc25h
		bWVYJGNsYXNzZXNcT2h4UmVjb3JkVUlEoxcYGVxPaHhSZWNvcmRVSURcT2x4
		UmVjb3JkVUlEWE5TT2JqZWN0CBEaJCkyN0lMUVNYXmNqb3Fzpqu2v8zQ3eoA
		AAAAAAABAQAAAAAAAAAaAAAAAAAAAAAAAAAAAAAA8w==
		</data>
	</array>
	<key>NSSplitView Subview Frames TaskPaneSplitView</key>
	<array>
		<string>0.000000, 0.000000, 270.000000, 931.000000, NO, NO</string>
		<string>270.000000, 0.000000, 1408.000000, 931.000000, NO, NO</string>
		<string>1678.000000, 0.000000, 0.000000, 931.000000, NO, NO</string>
	</array>
	<key>NSWindow Frame FullMailComposeWindow</key>
	<string>464 311 800 614 0 0 1728 1079 </string>
	<key>NSWindow Frame MainWindow</key>
	<string>0 56 1728 1023 0 0 1728 1079 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>464 487 800 365 0 0 1728 1079 </string>
	<key>OLCalendarLastSeenSystemTimeZoneName</key>
	<string>America/Los_Angeles</string>
	<key>OSLocale</key>
	<string>en_US@currency=USD</string>
	<key>OSVersion</key>
	<string>13.4.1</string>
	<key>OUIShouldEstablishWhatsNewBaseline</key>
	<true/>
	<key>OlkDeviceTimelineDay0Date</key>
	<real>1688344291.3812151</real>
	<key>OlkDeviceTimelineDay_MostRecent</key>
	<integer>0</integer>
	<key>PII_And_Intelligent_Services_Preference</key>
	<true/>
	<key>PhoenixOnboardingFlowChecklistPersonalizeWorkspaceDone</key>
	<true/>
	<key>PhoenixOnboardingFlowFRELaunched</key>
	<true/>
	<key>PhoenixOnboardingFlowWhatsNewCalloutShown</key>
	<true/>
	<key>PhoenixPreviewBeta_HasShownLegacyNotificationAtLeastOnce</key>
	<true/>
	<key>PhoenixPreviewBeta_ScheduledFeedbackDate</key>
	<date>2023-07-06T00:31:41Z</date>
	<key>PivotNavPaneSelectionState2</key>
	<array>
		<string>AQMkADY4NDMyMTNhLWM5YmEtNDg0Ni1iNzQwLWZhMDAANDU5MmYxZjkALgAAA0BnCES8mXJMi4retVx2iOUBAIeioForQo5CpNUhVn1urWYAAAIBDQAAAA==</string>
	</array>
	<key>PlainTextWebPrefsIdentifierWebKitDefaultFontSize</key>
	<integer>12</integer>
	<key>PlainTextWebPrefsIdentifierWebKitJavaScriptEnabled</key>
	<false/>
	<key>PlainTextWebPrefsIdentifierWebKitPluginsEnabled</key>
	<false/>
	<key>PlainTextWebPrefsIdentifierWebKitShowsURLsInToolTips</key>
	<false/>
	<key>PlainTextWebPrefsIdentifierWebKitStandardFont</key>
	<string>Consolas</string>
	<key>PlainTextWebPrefsIdentifierWebKitTabToLinksPreferenceKey</key>
	<true/>
	<key>PreferencesVersion</key>
	<integer>6</integer>
	<key>RCTI18nUtil_makeRTLFlipLeftAndRightStyles</key>
	<true/>
	<key>SelectionMemory</key>
	<array>
		<dict>
			<key>SelectionMemoryWindowFrameKey</key>
			<string>0 56 1728 1023 0 0 1728 1079 </string>
			<key>SelectionMemoryWindowIsMiniaturized</key>
			<false/>
			<key>SelectionMemoryWindowNavigationViewTagKey</key>
			<integer>0</integer>
			<key>SelectionMemoryWindowSubviewsStateKey</key>
			<dict>
				<key>PivotNavPaneSelectionState2</key>
				<data>
				YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hp
				dmVyVCR0b3BYJG9iamVjdHMSAAGGoF8QD05TS2V5ZWRB
				cmNoaXZlctEICVRyb290gAGkCwwSE1UkbnVsbNINDg8R
				Wk5TLm9iamVjdHNWJGNsYXNzoRCAAoADXxB4QVFNa0FE
				WTRORE15TVROaExXTTVZbUV0TkRnME5pMWlOelF3TFda
				aE1EQUFORFU1TW1ZeFpqa0FMZ0FBQTBCbkNFUzhtWEpN
				aTRyZXRWeDJpT1VCQUllaW9Gb3JRbzVDcE5VaFZuMXVy
				V1lBQUFJQkRRQUFBQT090hQVFhdaJGNsYXNzbmFtZVgk
				Y2xhc3Nlc1dOU0FycmF5ohYYWE5TT2JqZWN0AAgAEQAa
				ACQAKQAyADcASQBMAFEAUwBYAF4AYwBuAHUAdwB5AHsA
				9gD7AQYBDwEXARoAAAAAAAACAQAAAAAAAAAZAAAAAAAA
				AAAAAAAAAAABIw==
				</data>
			</dict>
		</dict>
	</array>
	<key>SessionBuildNumber</key>
	<string>230627</string>
	<key>SessionId</key>
	<string>7A396265-F179-423C-A494-AC02B0437E33</string>
	<key>SessionLongBuildNumber</key>
	<string>23062703</string>
	<key>SessionVersion</key>
	<string>16.76</string>
	<key>ShowReminders</key>
	<true/>
	<key>Show_Peek</key>
	<false/>
	<key>Sidebar_mail_AllAccounts</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwRElUkbnVsbNINDg8QViRj
	bGFzc1RIeElEgAOAAk8QMAAATQAAAAAAAAAAAOqKBAAAAAAAAgAAAMWKBAAAAAAA6ooE
	AAAAAADFigQAAAAAANITFBUWWiRjbGFzc25hbWVYJGNsYXNzZXNcT2h4UmVjb3JkVUlE
	oxcYGVxPaHhSZWNvcmRVSURcT2x4UmVjb3JkVUlEWE5TT2JqZWN0CBEaJCkyN0lMUVNY
	XmNqb3Fzpqu2v8zQ3eoAAAAAAAABAQAAAAAAAAAaAAAAAAAAAAAAAAAAAAAA8w==
	</data>
	<key>SimplifiedReportingMigrationComplete</key>
	<true/>
	<key>Task_Pane_Width</key>
	<real>272</real>
	<key>ToolbarCustomization_CalendarEventEditorToolView_Preference</key>
	<array>
		<string>freeBusy</string>
		<string>togglePrivateEvent</string>
		<string>attendeeOptions</string>
		<string>showScheduleAssistant</string>
		<string>attachFile</string>
		<string>compliantMeeting</string>
	</array>
	<key>ToolbarCustomization_CalendarEventPreviewToolView_Preference</key>
	<array>
		<string>freeBusy</string>
		<string>togglePrivateEvent</string>
		<string>replyToMeeting</string>
		<string>forwardMeeting</string>
		<string>options</string>
	</array>
	<key>ToolbarCustomization_MailToolView_Preference</key>
	<array>
		<string>delete</string>
		<string>archive</string>
		<string>report</string>
		<string>moveTo</string>
		<string>followUp</string>
		<string>toggleUnread</string>
		<string>sendReceive</string>
		<string>block</string>
	</array>
	<key>ToolbarCustomization_NestedReplyToolView_Preference</key>
	<array>
		<string>attachFile</string>
		<string>signature</string>
		<string>sensitivity</string>
		<string>editorPane</string>
		<string>accessibilityChecker</string>
	</array>
	<key>ToolbarCustomization_Suggestions_Preference</key>
	<dict/>
	<key>TrustO365AutodiscoverRedirect</key>
	<true/>
	<key>UserPreference_AddAccountCheckListPosition</key>
	<integer>2</integer>
	<key>UserPreference_ApplicationAppearance</key>
	<integer>0</integer>
	<key>UserPreference_CustomizeToolbarCheckListPosition</key>
	<integer>0</integer>
	<key>UserPreference_DateFirstShownOnboardingCheckList</key>
	<real>710052773.71969497</real>
	<key>UserPreference_DisplayDensity</key>
	<integer>1</integer>
	<key>UserPreference_HasShownOnboardingCheckList</key>
	<true/>
	<key>UserPreference_HasShownToolbarCustomizationCallout</key>
	<true/>
	<key>UserPreference_HasShownUndoSendCallout</key>
	<true/>
	<key>UserPreference_MessageListWidth</key>
	<real>400</real>
	<key>UserPreference_MessageList_PromoDismiss_AddAccount</key>
	<true/>
	<key>UserPreference_NotificationsCheckListPosition</key>
	<integer>1</integer>
	<key>UserPreference_PersonalizeCheckListPosition</key>
	<integer>3</integer>
	<key>UserPreference_WhatsNew_AliasSupport</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_AppUpdate</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_CalendarPeek</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_FolderItemCounts</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_HybridRSVP</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_KeyboardShortcuts</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_NativeReminders</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_OPXFindTime</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_PrideTheming</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_PurchaseOffice</key>
	<integer>0</integer>
	<key>UserPreference_WhatsNew_RetentionPolicy</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_RicherFlaggingReminders</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_SmartLink</key>
	<integer>1</integer>
	<key>UserPreference_WhatsNew_TextPrediction</key>
	<integer>1</integer>
	<key>UserSwitchToPhoenixDate</key>
	<real>710037090.65935099</real>
	<key>WebPreferences_have_been_setup</key>
	<true/>
	<key>ccarini@linkedin.biz_ActiveSyncExchange_HxS.NavPrefsHaveBeenInitialized</key>
	<true/>
	<key>clientConfigsLastUpdatedTime</key>
	<dict>
		<key>ccarini@linkedin.biz</key>
		<date>2023-07-03T00:31:59Z</date>
	</dict>
	<key>kAppBootTimeForUAE</key>
	<date>2023-07-03T17:16:17Z</date>
	<key>kPhoenixUserlaunchedInPreviewAtleastOnce</key>
	<true/>
	<key>kSubUIAppCompletedFirstRunSetup1507</key>
	<true/>
</dict>
</plist>
