<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>853c4013-5afa-4db1-b056-717709494f03_ADAL-FetchInterval</key>
	<integer>5400</integer>
	<key>853c4013-5afa-4db1-b056-717709494f03_ADAL-LastFetchTime</key>
	<real>710095298</real>
	<key>853c4013-5afa-4db1-b056-717709494f03_ADAL-LastHash</key>
	<string>LTM3MTM2Mzk0MjEzOTgxMTY0NTY=</string>
	<key>853c4013-5afa-4db1-b056-717709494f03_ADAL-LastPolicies</key>
	<data>
	eyJwb2xpY2llc0hhc2giOiJMVE0zTVRNMk16azBNakV6T1RneE1UWTBOVFk9IiwidmFs
	dWUiOlt7ImlkIjoiTGdBQUFBQTR2RHVYUkE1N1I2Rl9VZkdUaVdESEFRRFdZdEdOdjZI
	eFJLbHlyOHRqblhqTkFBQXhPSzEzQUFBQjAiLCJwb2xpY3lUeXBlIjoxLCJwcmlvcml0
	eSI6MCwicG9saWNpZXNQYXlsb2FkIjpbeyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBw
	Ijoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5Ijoi
	Y29tbW9uXFxmZWVkYmFjayIsIm1heFZlcnNpb24iOm51bGwsIm1pblZlcnNpb24iOm51
	bGwsIm5hbWUiOm51bGwsInBsYXRmb3JtIjoiTWFjIiwic2V0dGluZ0lkIjoib2ZmaWNl
	MTY7TF9Mb2dDb2xsZWN0aW9uIiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIs
	InZhbHVlTmFtZSI6ImZlZWRiYWNraW5jbHVkZWxvZyIsInZlcnNpb24iOm51bGwsImlz
	VmVyc2lvbk5ldXRyYWwiOiJGYWxzZSIsImRvY1ZlcnNpb24iOm51bGx9LHsiYWxsb3dP
	dmVycmlkZSI6ZmFsc2UsImFwcCI6Im9mZmljZTE2IiwiY2xhc3MiOiJVc2VyIiwiZW5h
	YmxlZCI6ZmFsc2UsImtleSI6ImNvbW1vblxcZmVlZGJhY2siLCJtYXhWZXJzaW9uIjpu
	dWxsLCJtaW5WZXJzaW9uIjpudWxsLCJuYW1lIjpudWxsLCJwbGF0Zm9ybSI6Ik1hYyIs
	InNldHRpbmdJZCI6Im9mZmljZTE2O0xfU2VuZFN1cnZleSIsInR5cGUiOiJSRUdfRFdP
	UkQiLCJ2YWx1ZSI6IjEiLCJ2YWx1ZU5hbWUiOiJzdXJ2ZXllbmFibGVkIiwidmVyc2lv
	biI6bnVsbCwiaXNWZXJzaW9uTmV1dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVs
	bH0seyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6
	IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5IjoiY29tbW9uXFxmZWVkYmFjayIsIm1h
	eFZlcnNpb24iOm51bGwsIm1pblZlcnNpb24iOm51bGwsIm5hbWUiOm51bGwsInBsYXRm
	b3JtIjoiTWFjIiwic2V0dGluZ0lkIjoib2ZmaWNlMTY7TF9FbWFpbENvbGxlY3Rpb24i
	LCJ0eXBlIjoiUkVHX0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiaW5jbHVk
	ZWVtYWlsIiwidmVyc2lvbiI6bnVsbCwiaXNWZXJzaW9uTmV1dHJhbCI6IkZhbHNlIiwi
	ZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJyaWRlIjpmYWxzZSwiYXBwIjoib2Zm
	aWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxzZSwia2V5IjoiY29tbW9u
	XFxmZWVkYmFjayIsIm1heFZlcnNpb24iOm51bGwsIm1pblZlcnNpb24iOm51bGwsIm5h
	bWUiOm51bGwsInBsYXRmb3JtIjoiTWFjIiwic2V0dGluZ0lkIjoib2ZmaWNlMTY7TF9T
	Y3JlZW5zaG90IiwidHlwZSI6IlJFR19EV09SRCIsInZhbHVlIjoiMSIsInZhbHVlTmFt
	ZSI6ImluY2x1ZGVzY3JlZW5zaG90IiwidmVyc2lvbiI6bnVsbCwiaXNWZXJzaW9uTmV1
	dHJhbCI6IkZhbHNlIiwiZG9jVmVyc2lvbiI6bnVsbH0seyJhbGxvd092ZXJyaWRlIjpm
	YWxzZSwiYXBwIjoib2ZmaWNlMTYiLCJjbGFzcyI6IlVzZXIiLCJlbmFibGVkIjpmYWxz
	ZSwia2V5IjoiY29tbW9uXFxmZWVkYmFjayIsIm1heFZlcnNpb24iOm51bGwsIm1pblZl
	cnNpb24iOm51bGwsIm5hbWUiOm51bGwsInBsYXRmb3JtIjoiTWFjIiwic2V0dGluZ0lk
	Ijoib2ZmaWNlMTY7TF9TZW5kRmVlZGJhY2siLCJ0eXBlIjoiUkVHX0RXT1JEIiwidmFs
	dWUiOiIxIiwidmFsdWVOYW1lIjoiZW5hYmxlZCIsInZlcnNpb24iOm51bGwsImlzVmVy
	c2lvbk5ldXRyYWwiOiJGYWxzZSIsImRvY1ZlcnNpb24iOm51bGx9LHsiYWxsb3dPdmVy
	cmlkZSI6ZmFsc2UsImFwcCI6InBwdDE2IiwiY2xhc3MiOiJVc2VyIiwiZW5hYmxlZCI6
	ZmFsc2UsImtleSI6InBvd2VycG9pbnQiLCJtYXhWZXJzaW9uIjpudWxsLCJtaW5WZXJz
	aW9uIjpudWxsLCJuYW1lIjpudWxsLCJwbGF0Zm9ybSI6Ik1hYyIsInNldHRpbmdJZCI6
	InBwdDE2O0xfRW5hYmxlTW9kZXJuQ29tbWVudHNDcmVhdGVOZXciLCJ0eXBlIjoiUkVH
	X0RXT1JEIiwidmFsdWUiOiIxIiwidmFsdWVOYW1lIjoiZW5hYmxlbW9kZXJuY29tbWVu
	dHNjcmVhdGVuZXciLCJ2ZXJzaW9uIjpudWxsLCJpc1ZlcnNpb25OZXV0cmFsIjoiRmFs
	c2UiLCJkb2NWZXJzaW9uIjpudWxsfV19XX0=
	</data>
	<key>ConnectedOfficeExperiencesPreference</key>
	<true/>
	<key>CurrentUserConsentGroupKey</key>
	<integer>1</integer>
	<key>DiagnosticDataTypePreference</key>
	<string>FullDiagnosticData</string>
	<key>DocsUICustomTemplatesLocationMigrationKey</key>
	<true/>
	<key>HaveMergedOldPrefs</key>
	<true/>
	<key>IgnoreForcedPreferences</key>
	<false/>
	<key>MacOSTicketCacheEncrypted</key>
	<true/>
	<key>MerpStateKey_com.microsoft.Outlook</key>
	<integer>0</integer>
	<key>OCPS-LastSuccessfulUserId</key>
	<string>853c4013-5afa-4db1-b056-717709494f03_ADAL</string>
	<key>OfficeActivationEmailAddress</key>
	<string>ccarini@linkedin.biz</string>
	<key>OfficeAutoSignIn</key>
	<true/>
	<key>OfficeExperiencesAnalyzingContentPreference</key>
	<true/>
	<key>OfficeExperiencesDownloadingContentPreference</key>
	<true/>
	<key>OneAuthEnabledInSuite</key>
	<true/>
	<key>OptionalConnectedExperiencesPreference</key>
	<true/>
	<key>SendAllTelemetryEnabled</key>
	<true/>
	<key>TenantAssociationKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy5taWNyb3NvZnQuY29tL2lkZW50aXR5L2NsYWltcy90ZW5hbnRpZCI6IjcyZjk4OGJmLTg2ZjEtNDFhZi05MWFiLTJkN2NkMDExZGI0NyIsImFwcGlkIjoiZDM1OTBlZDYtNTJiMy00MTAyLWFlZmYtYWFkMjI5MmFiMDFjIiwiaXNzIjoiSXNzdWVyIiwiYXVkIjoiQXVkaWVuY2UifQ.tSh-L3noema0R739ltV9ZmRMhrQQvl3my-kvPjh0cPA</string>
	<key>TenantAssociationKey-FetchInterval</key>
	<integer>116280</integer>
	<key>TenantAssociationKey-LastFetchTime</key>
	<real>710037097</real>
	<key>TenantAssociationOidKey</key>
	<string>853c4013-5afa-4db1-b056-717709494f03</string>
	<key>TenantIDKey</key>
	<string>72f988bf-86f1-41af-91ab-2d7cd011db47</string>
	<key>TermsAccepted1809</key>
	<true/>
	<key>UpdatingTicketCache</key>
	<false/>
	<key>WLMKernel.Registry.UseRWDBSentinelFile</key>
	<false/>
	<key>com.microsoft.Outlook</key>
	<dict>
		<key>ExceptionEnumString</key>
		<string>12345</string>
	</dict>
	<key>kFRETermsOfUseUpdatedShown</key>
	<integer>2022</integer>
	<key>kFRETermsOfUseUpdatingShown</key>
	<integer>2022</integer>
</dict>
</plist>
