<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CellularBytesRecved</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954473</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>CellularBytesSent</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954473</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MOMMSSendFailedCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954472</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MOMMSSendSuccessfulCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954472</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MOSMSSendFailedCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954471</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MOSMSSendSuccessfulCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954470</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MTMMSRecvFailedCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954472</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MTMMSRecvSuccessfulCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954472</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MTSMSRecvFailedCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954472</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>MTSMSRecvSuccessfulCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954471</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>SRUMB_Attempt_Count</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954473</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>VVMNotificationsRecvedCount</key>
	<dict>
		<key>starttimestamp</key>
		<integer>1688121954472</integer>
		<key>value</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
