<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTAlarmModifiedDate</key>
	<date>2023-07-03T12:00:06Z</date>
	<key>MTAlarmStorageVersion</key>
	<real>3.0999999046325684</real>
	<key>MTAlarms</key>
	<dict>
		<key>MTAlarms</key>
		<array/>
		<key>MTSleepAlarms</key>
		<array/>
	</dict>
	<key>MTTimerDefaultDuration</key>
	<real>900</real>
	<key>MTTimerModifiedDate</key>
	<date>2023-06-30T10:45:54Z</date>
	<key>MTTimerStorageVersion</key>
	<real>2</real>
	<key>MTTimers</key>
	<dict>
		<key>MTTimers</key>
		<array>
			<dict>
				<key>$MTTimer</key>
				<dict>
					<key>MTTimerDataVersion</key>
					<real>1.6000000238418579</real>
					<key>MTTimerDuration</key>
					<real>900</real>
					<key>MTTimerFireTime</key>
					<dict>
						<key>$MTTimerTimeInterval</key>
						<dict>
							<key>MTTimerTimeInterval</key>
							<real>900</real>
						</dict>
					</dict>
					<key>MTTimerFireTimerClass</key>
					<string>MTTimerTimeInterval</string>
					<key>MTTimerID</key>
					<string>28C2F75A-4252-4F73-8426-422A373D2772</string>
					<key>MTTimerSound</key>
					<dict>
						<key>$MTSound</key>
						<dict>
							<key>MTSoundToneID</key>
							<string>system:Default Timer</string>
							<key>MTSoundType</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>MTTimerState</key>
					<integer>1</integer>
					<key>MTTimerTitle</key>
					<string>CURRENT_TIMER</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
