<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accountAvailable</key>
	<integer>0</integer>
	<key>lastKnownApps</key>
	<array/>
	<key>syncEngineMetadata</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGsCwwrMTc6PkBFR0lLVSRudWxs
	3xAPDQ4PEBESExQVFhcYGRobHB0eHSAhIiMkJSIdIikhXXpvbmVJRHNUb1NhdmVfEB9u
	ZWVkc1RvU2F2ZURhdGFiYXNlU3Vic2NyaXB0aW9uXxAbaW5GbGlnaHRSZWNvcmRNb2Rp
	ZmljYXRpb25zXxAiZGlkUGVyZm9ybUluaXRpYWxVc2VyUmVjb3JkSURGZXRjaF8QGnNl
	cnZlckNoYW5nZVRva2Vuc0J5Wm9uZUlEXxAmaGFzSW5GbGlnaHRBZG9wdGVyVHJhY2tl
	ZE1vZGlmaWNhdGlvbnNfEBxsYXN0RmV0Y2hEYXRhYmFzZUNoYW5nZXNEYXRlXxAacGVu
	ZGluZ1JlY29yZE1vZGlmaWNhdGlvbnNWJGNsYXNzXxAcem9uZUlEc05lZWRpbmdUb0Zl
	dGNoQ2hhbmdlc18QFWxhc3RLbm93blVzZXJSZWNvcmRJRF8QG25lZWRzVG9GZXRjaERh
	dGFiYXNlQ2hhbmdlc18QHHNlcnZlckNoYW5nZVRva2VuRm9yRGF0YWJhc2VfEA96b25l
	SURzVG9EZWxldGVfECVoYXNBZG9wdGVyVHJhY2tlZFBlbmRpbmdNb2RpZmljYXRpb25z
	gAYJgAoJgAIIgACACYALgASAAAmAAIAICNMsLRUuLzBXTlMua2V5c1pOUy5vYmplY3Rz
	oKCAA9IyMzQ1WiRjbGFzc25hbWVYJGNsYXNzZXNcTlNEaWN0aW9uYXJ5ojQ2WE5TT2Jq
	ZWN00i0VODmggAXSMjM7PFxOU011dGFibGVTZXSjOz02VU5TU2V00RU/gAfSMjNBQl8Q
	E05TTXV0YWJsZU9yZGVyZWRTZXSjQ0Q2XxATTlNNdXRhYmxlT3JkZXJlZFNldFxOU09y
	ZGVyZWRTZXTRFT+AB9EVP4AH0RU/gAfSMjNMTV8QFENLU3luY0VuZ2luZU1ldGFkYXRh
	ok42XxAUQ0tTeW5jRW5naW5lTWV0YWRhdGEACAARABoAJAApADIANwBJAEwAUQBTAGAA
	ZgCHAJUAtwDVAPoBFwFAAV8BfAGDAaIBugHYAfcCCQIxAjMCNAI2AjcCOQI6AjwCPgJA
	AkICRAJFAkcCSQJKAlECWQJkAmUCZgJoAm0CeAKBAo4CkQKaAp8CoAKiAqcCtAK4Ar4C
	wQLDAsgC3gLiAvgDBQMIAwoDDQMPAxIDFAMZAzADMwAAAAAAAAIBAAAAAAAAAE8AAAAA
	AAAAAAAAAAAAAANK
	</data>
	<key>version</key>
	<integer>7</integer>
	<key>writerDone</key>
	<false/>
</dict>
</plist>
