<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSNavLastRootDirectory</key>
	<string>~</string>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{800, 448}</string>
	<key>NSTableView Columns v3 signaturesTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxAdCwwYIyQlJicoKS85OjtF
	RkdRUlNdXmhpamt1dndVJG51bGzSDQ4PF1pOUy5vYmplY3RzViRjbGFzc6cQERITFBUW
	gAKACoANgBCAE4AVgBmAHNMZDQ4aHiJXTlMua2V5c6MbHB2AA4AEgAWjHyAhgAaAB4AI
	gAlaSWRlbnRpZmllclVXaWR0aFZIaWRkZW5UdHlwZSNARAAAAAAAAAjSKissLVokY2xh
	c3NuYW1lWCRjbGFzc2VzXE5TRGljdGlvbmFyeaIsLlhOU09iamVjdNMZDQ4wNCKjGxwd
	gAOABIAFozU2IYALgAyACIAJVG5hbWUjQFvAAAAAAADTGQ0OPEAioxscHYADgASABaNB
	QiGADoAPgAiACVVrZXlJRCNAUEAAAAAAANMZDQ5ITCKjGxwdgAOABIAFo01OIYARgBKA
	CIAJV2NyZWF0ZWQjQFLAAAAAAADTGQ0OVFgioxscHYADgASABaNZTiGAFIASgAiACVdl
	eHBpcmVz0xkNDl9jIqMbHB2AA4AEgAWjZGVmgBaAF4AYgAldaGFzaEFsZ29yaXRobSNA
	RoAAAAAAAAnTGQ0ObHAioxscHYADgASABaNxcmaAGoAbgBiACV8QEnNpZ25hdHVyZUFs
	Z29yaXRobSNAPgAAAAAAANIqK3h5Xk5TTXV0YWJsZUFycmF5o3h6LldOU0FycmF5AAgA
	EQAaACQAKQAyADcASQBMAFIAVAB0AHoAfwCKAJEAmQCbAJ0AnwChAKMApQCnAKkAsAC4
	ALwAvgDAAMIAxgDIAMoAzADOANkA3wDmAOsA9AD1APoBBQEOARsBHgEnAS4BMgE0ATYB
	OAE8AT4BQAFCAUQBSQFSAVkBXQFfAWEBYwFnAWkBawFtAW8BdQF+AYUBiQGLAY0BjwGT
	AZUBlwGZAZsBowGsAbMBtwG5AbsBvQHBAcMBxQHHAckB0QHYAdwB3gHgAeIB5gHoAeoB
	7AHuAfwCBQIGAg0CEQITAhUCFwIbAh0CHwIhAiMCOAJBAkYCVQJZAAAAAAAAAgEAAAAA
	AAAAewAAAAAAAAAAAAAAAAAAAmE=
	</data>
	<key>NSTableView Columns v3 userIDsTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABrxARCwwUHyAhIiMkJSs1NjdB
	QkNVJG51bGzSDQ4PE1pOUy5vYmplY3RzViRjbGFzc6MQERKAAoAKgA2AENMVDQ4WGh5X
	TlMua2V5c6MXGBmAA4AEgAWjGxwdgAaAB4AIgAlaSWRlbnRpZmllclVXaWR0aFZIaWRk
	ZW5UbmFtZSNAYcAAAAAAAAjSJicoKVokY2xhc3NuYW1lWCRjbGFzc2VzXE5TRGljdGlv
	bmFyeaIoKlhOU09iamVjdNMVDQ4sMB6jFxgZgAOABIAFozEyHYALgAyACIAJVWVtYWls
	I0BgQAAAAAAA0xUNDjg8HqMXGBmAA4AEgAWjPT4dgA6AD4AIgAlXY29tbWVudCNAWQAA
	AAAAANImJ0RFXk5TTXV0YWJsZUFycmF5o0RGKldOU0FycmF5AAgAEQAaACQAKQAyADcA
	SQBMAFIAVABoAG4AcwB+AIUAiQCLAI0AjwCRAJgAoACkAKYAqACqAK4AsACyALQAtgDB
	AMcAzgDTANwA3QDiAO0A9gEDAQYBDwEWARoBHAEeASABJAEmASgBKgEsATIBOwFCAUYB
	SAFKAUwBUAFSAVQBVgFYAWABaQFuAX0BgQAAAAAAAAIBAAAAAAAAAEcAAAAAAAAAAAAA
	AAAAAAGJ
	</data>
	<key>NSTableView Sort Ordering v2 signaturesTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Sort Ordering v2 userIDsTable</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVVBcnJheYABowsMEVUkbnVsbNINDg8QWk5T
	Lm9iamVjdHNWJGNsYXNzoIAC0hITFBVaJGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFi
	bGVBcnJheaMUFhdXTlNBcnJheVhOU09iamVjdAgRGiQpMjdJTFJUWF5jbnV2eH2IkaCk
	rAAAAAAAAAEBAAAAAAAAABgAAAAAAAAAAAAAAAAAAAC1
	</data>
	<key>NSTableView Supports v2 signaturesTable</key>
	<true/>
	<key>NSTableView Supports v2 userIDsTable</key>
	<true/>
	<key>NSToolbar Configuration 4AAAD79F-CE85-4575-92B9-E91BA1C2FB23</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>1</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame MainWindow</key>
	<string>337 361 1105 581 0 0 1728 1079 </string>
	<key>NSWindow Frame NSNavPanelAutosaveName</key>
	<string>490 402 800 448 0 0 1728 1079 </string>
</dict>
</plist>
